$phone : '(max-width: 480px)';
$phone-landscape : '(max-height: 480px)';
$font-family-r : 'oswald-regular';
$font-family-l : 'oswald-light';;
$font-family-b : 'oswald-bold';;

$color-dark: #0d3f67;
$color-white: #fff;
$font-size-lable: .8rem !important;

// $screen-xs: 480px;

// Small screen / tablet
// $screen-sm: 768px;

// Medium screen / desktop
// $screen-md: 992px;

// Large screen / wide desktop
// $screen-lg: 1200px;

// So media queries don't overlap when required, provide a maximum
// $screen-xs-max: ($screen-sm - 1);
// $screen-sm-max: ($screen-md - 1);
// $screen-md-max: ($screen-lg - 1);

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

// @mixin respond-to($media) {
//     @if $media == xs {
// 		@media (max-width: $screen-xs-max) { @content }
// 	}
// 	@else if $media == sm {
// 		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { @content }
// 	}
// 	@else if $media == md {
// 		@media (min-width: $screen-md) and (max-width: $screen-md-max) { @content }
// 	}
// 	@else if $media == lg {
// 		@media (min-width: $screen-lg) { @content }
// 	}
// }
