<div class="container-fluid sub-menu-parameters">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="text-center">Medios de Pago</h1>
        </div>
        <div class="col-8 col-sm-9 col-md-12 col-lg-12 col-xl-12 d-flex">
            <button type="button" class="btn btn-outline-add btn-add-provider text-nowrap mx-3" data-toggle="modal" data-target="#modalMedioPago" (click)="add()"><i class="fas fa-plus-square"></i><span class="d-none d-md-inline-block ml-md-2">Medio Pago</span></button>
            <button type="button" class="btn btn-outline-save text-nowrap mr-3" (click)="exportExcel()"><i class="far fa-file-excel"></i><span class="d-none d-md-inline-block ml-md-2">Exportar</span></button>
            <input type="text" class="form-control" id="search" (keyup)="applyFilter($event.target.value)" aria-describedby="search" placeholder="Buscar...">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive table-resp">
                <table mat-table [dataSource]="arrayMedioPago" matSort class="mat-elevation-z8">

                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Estado Column -->
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{(element.estado == 'A')?'Activo':'Inactivo'}} </td>
                    </ng-container>

                    <!-- Buttons Actions Column -->
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> Acción </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" class="btn btn-outline-edit" (click)="open(element.id)"><i class="fas fa-pen-fancy"></i></button>
                            <!-- <button type="button" class="btn btn-outline-delete" (click)="deshabilitar(element.id)"><i class="fas fa-trash-alt"></i></button> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="showColsActivos; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: showColsActivos;"></tr>
                </table>
                <mat-paginator [pageSize]="12" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalMedioPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelDocumento"><i class="fas fa-book"></i> Medio de Pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre" class="label-required">Nombre <span>*</span></label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresa un nombre" [(ngModel)]="medioPago.nombre" name="nombre">
                        </div>
                        <div class="form-group">
                            <label for="estado" class="label-required">Estado <span>*</span></label>
                            <select id="estado" class="form-control" [(ngModel)]="medioPago.estado" name="estado">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                    <button type="button" class="btn btn-outline-save" (click)="save()"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
