<div class="panel-sub-menu h-100 pb-1 pb-sm-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <h2 *ngIf="_item != undefined" class="text-center pt-1 pt-sm-2 mb-0">{{ _item.title }}</h2>
        <hr class="my-1">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <ul class="m-0 p-0 list-unstyled" *ngIf="_item != undefined && _item.name == 'datos'">
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.proveedores')" [routerLink]="['admin/proveedores']">
            <i class="fas fa-industry"></i> Proveedores
          </li>
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.contratos')" [routerLink]="['admin/contrato']">
            <i class="fas fa-file-contract"></i> Contratos
          </li>
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.activosFijos')" [routerLink]="['admin/activos']">
            <i class="fas fa-tape"></i> Activos Fijos
          </li>
          <!-- <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.radicadoDocumentos')" [routerLink]="['admin/radicados']">
            <i class="fas fa-stamp"></i> Radicado Documentos
          </li> -->
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.conceptos')" [routerLink]="['admin/conceptos']">
            <i class="fas fa-book"></i> Conceptos
          </li>
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.estados')" [routerLink]="['admin/estados']">
            <i class="fas fa-toggle-on"></i> Estados
          </li>
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.usuarios')" [routerLink]="['admin/usuarios']">
            <i class="fas fa-users-cog"></i> Usuarios
          </li>
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.roles')" [routerLink]="['admin/roles']">
            <i class="fas fa-user-tag"></i> Roles/Opciones
          </li>
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.municipios')" [routerLink]="['admin/kumpania']">
            <i class="fas fa-handshake"></i> Kumpania
          </li>
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.municipios')" [routerLink]="['admin/resguardo']">
            <i class="fas fa-place-of-worship"></i> Resguardo
          </li>
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.municipios')" [routerLink]="['admin/consejo']">
            <i class="fas fa-hands-helping"></i> Consejo Comunitario
          </li>
          <li class="pt-0 pt-xl-2 _content-menu">
            <i class="fas fa-cogs"></i> Parametrizaciones <i class="fas fa-caret-down float-right mt-2"></i>
            <ul class="m-0 ml-3 p-0 list-unstyled _params-menu">
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.tiposConcepto')" [routerLink]="['admin/tipoConcepto']"><i class="fas fa-list-ul"></i> Tipos de Conceptos</li>
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.tiposEvento')" [routerLink]="['admin/tipoEvento']"><i class="fas fa-glass-cheers"></i> Tipos de Evento</li>
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.tiposProveedor')" [routerLink]="['admin/tipoProveedor']"><i class="fas fa-id-badge"></i> Tipos de Proveedor</li>
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.tiposTarifa')" [routerLink]="['admin/tipoTarifa']"><i class="fas fa-hand-holding-usd"></i> Tipos de Tarifa</li>
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.tiposContacto')" [routerLink]="['admin/tipoContacto']"><i class="fas fa-address-book"></i> Tipos de Contacto</li>
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.documentos')" [routerLink]="['admin/tipoDocumento']"><i class="fas fa-id-card"></i> Tipos de Documento</li>
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.bancos')" [routerLink]="['admin/entidades']"><i class="fas fa-university"></i> Entidades Financieras</li>
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.rangosNumeracion')" [routerLink]="['admin/rangoNumeracion']"><i class="fas fa-sort-numeric-up"></i> Rango de Numeración</li>
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.tiposDocumentoContable')" [routerLink]="['admin/tipoDocContable']"><i class="fas fa-file-alt"></i> Tipos de Documento Contable</li>
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.indicadoresRetencion')" [routerLink]="['admin/indicadorRetencion']"><i class="fas fa-file-invoice-dollar"></i> Indicadores de Retención</li>
              <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.administracion.mediosPago')" [routerLink]="['admin/mediosPago']"><i class="fas fa-money-check-alt"></i> Medios de Pago</li>
            </ul>
          </li>
        </ul>
        <ul class="m-0 p-0 list-unstyled" *ngIf="_item != undefined && _item.name == 'tesoreria'">
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.tesoreria.panelPagos')" [routerLink]="['tesoreria/listaPagos']">
            <i class="fas fa-list"></i> Listado Pagos
          </li>
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.tesoreria.pagosAutorizados')">
            <i class="fas fa-tasks"></i> Pagos Autorizados
          </li>
          <li class="pt-0 pt-xl-2" *ngIf="util.containsOption('menuItem.tesoreria.solicitarAnticipo')">
            <i class="fas fa-hand-holding-usd"></i> Solicitar Anticipo
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
