@import "../models/_variables";

.panel-sub-menu {
    background: #dadddf;
    overflow: hidden;
    @include respond-to($phone-landscape) {
        position: absolute;
        z-index: 3;
        box-shadow: 7px 0px 11px -3px rgba(163,163,163,1)
    }
    h2 {
        font-family: $font-family-r;
        color: #313131;
        text-transform: capitalize;
    }
    ul {
        .open-menu {
            @include respond-to($phone) {
                overflow-y: auto;
                height: 72%;
            }
        }
        li {
            font-family: $font-family-l;
            font-size: 1rem;
            color: #293462;
            outline: unset;
            white-space: nowrap;
            &:hover {
                color: #c10000;
                cursor: pointer;
                white-space: normal;
            }
            @include respond-to($phone-landscape) {
                font-size: 1.2rem;
            }
        }
        ._params-menu {
            overflow: hidden;
            height: 0;
            transition: height 0.5s ease-in-out;
            // li {
                // flex: 1;
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // min-width: 0;
                // &:hover {
                //     animation: 3s linear 0s infinite alternate advanced;
                // }
                // font-size: 1rem !important;
            // }
        }
    }
}

.selected-item {
    color: #c10000 !important;
}

.open-menu {
    overflow-y: auto !important;
    transition: height .10s ease-in-out;
    height: max-content !important;
    @include respond-to($phone) {
        height: 20vh !important;
    }
}

@keyframes advanced {
    0%, 25% {
      transform: translateX(0%);
      left: 0%;
    }
    75%,
    100% {
      transform: translateX(-100%);
      left: 100%;
    }
  }
// .sub-menu-content ul button,
// .sub-menu-content ul li {
//     padding: 10px;
//     padding-left: 20px;
// }

// .sub-menu-content ul button {
//     background: unset;
//     border: unset;
//     width: 100%;
//     text-align: left;
// }
// .sub-menu-content ul button:hover,
// .sub-menu-content ul li:hover {
//     color: #c10000;
//     cursor: pointer;
//     background-color: #d2d2d2;
// }

// .active-sub-item {
//     color: #c10000 !important;
// }

// .menu-parametrizacion {
//     padding: 0;
//     margin: 0;
//     width: 130px;
// }

// .menu-parametrizacion li:hover {
//     background: #dadddf;
//     color: #293462;
// }

// .menu-parametrizacion li {
//     list-style: none;
//     font-family: 'oswald-regular';
//     padding: 4%;
//     white-space: nowrap;
//     cursor: pointer;
// }

/* ----- Popover ----- */

// $dark3-color:     #989ca8;
// $dark2-color:     #5f6976;
// $secondary-color: #04a0b2;


// .popover-block-container {
//     .popover-icon {
//         background: none;
//         color: none;
//         border: none;
//         padding: 0;
//         outline: none;
//         cursor: pointer;
//         i {
//             color: $secondary-color;
//             text-align: center;
//             margin-top:4px;
//         }
//       }
//   }
//   .popover-header {
//       display: none;
//   }
//   .popover {
//     max-width: 306.6px;
//     border-radius: 6px;
//     border: none;
//     box-shadow: 0 0 6px 1px #eee;
//   }
//   .popover-body {
//     border: none;
//     padding: 20px 49.4px 24px 24px;
//     color: $dark2-color;
//     font-size: 15px;
//     font-style: italic;
//     z-index: 2;
//     line-height: 1.53;
//     letter-spacing: 0.1px;
//     .popover-close {
//         position: absolute;
//         top: 5px;
//         right: 10px;
//         opacity: 1;

//         .material-icons {
//             font-size: 16px;
//             font-weight: bold;
//             color: $secondary-color;
//         }

//     }
// }
