<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="text-center mt-md-3">Conceptos</h1>
        </div>
        <div class="col-8 col-sm-9 col-md-10 col-lg-10 col-xl-10 d-flex">
          <button type="button" class="btn btn-outline-add btn-add-provider text-nowrap mx-3" data-toggle="modal" data-target="#modalConcepto" (click)="add()"><i class="fas fa-plus-square"></i><span class="d-none d-md-inline-block ml-md-2">Agregar Concepto</span></button>
          <button type="button" class="btn btn-outline-save text-nowrap mr-3" (click)="exportExcel()"><i class="far fa-file-excel"></i><span class="d-none d-md-inline-block ml-md-2">Exportar</span></button>
            <input type="text" class="form-control" id="search" (keyup)="applyFilter($event.target.value)" aria-describedby="search" placeholder="Buscar...">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive table-resp">
                <table mat-table [dataSource]="arrayConceptos" matSort class="mat-elevation-z8">

                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Id Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombreConcepto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Concepto </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombreConcepto}} </td>
                    </ng-container>

                    <!-- Telephone Column -->
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{ (element.estado == 'A')?'Activo':'Inactivo'}} </td>
                    </ng-container>

                    <!-- Buttons Actions Column -->
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> Acción </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" class="btn btn-outline-edit" (click)="open(element.id)"><i class="fas fa-pen-fancy"></i></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="showCols; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: showCols;"></tr>
                </table>
                <mat-paginator [pageSize]="12" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalConcepto" tabindex="-1" role="dialog" aria-labelledby="labelModalConcepto" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelModalConcepto"><i class="fas fa-file-invoice"></i> Concepto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre" class="label-required">Nombre <span>*</span></label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresa un nombre" [(ngModel)]="concepto.nombre" name="nombre">
                        </div>
                        <div class="form-group">
                            <label for="tipoConcepto" class="label-required">Tipo Concepto <span>*</span></label>
                            <select-general tipoDato="tipoConcepto" [(ngModel)]="concepto.tipoConcepto_id" [(_val)]="concepto.tipoConcepto_id" name="tipoConcepto" ngDefaultControl></select-general>
                        </div>
                        <div class="form-group">
                            <label for="iva">% IVA</label>
                            <input type="number" class="form-control" id="iva" placeholder="Ingresa un IVA" [(ngModel)]="concepto.porcentajeIva" name="porcentajeIva">
                        </div>
                        <div class="form-group">
                            <label for="seguroHotelero">Seguro Hotelero</label>
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="seguroHotelero" [(ngModel)]="concepto.seguroHotelero" name="seguroHotelero">
                                <label class="custom-control-label" for="seguroHotelero"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="indicadorRetencion" class="label-required">Indicador Retención <span>*</span></label>
                            <select-general tipoDato="indicadorRetencion" [(ngModel)]="concepto.indicador_id" [(_val)]="concepto.indicador_id" name="indicadorRetencion" ngDefaultControl></select-general>
                        </div>
                        <div class="form-group">
                            <label for="estado" class="label-required">Estado <span>*</span></label>
                            <select id="estado" class="form-control" [(ngModel)]="concepto.estado" name="estado">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                    <button type="button" class="btn btn-outline-save" (click)="save()"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
