@import "../models/_variables";

h1,
.modal-title {
    text-decoration: none;
    color: $color-dark;
    font-family: $font-family-b;
}

.table-resp {
    button {
        padding: 0.075rem 0.35rem;
    }
    z-index: 1;
    @include respond-to($phone) {
        height: 75vh;
    }
    @include respond-to($phone-landscape) {
        height: 73vh;
    }
}