@import "../models/_variables";

.content-proveedor {
    @include respond-to($phone-landscape) {
        max-width: 540px;
    }
}

.menu-buttons button {
    margin-bottom: 1%;
    width: min-content;
}

h1 {
    text-decoration: none;
    color: #0d3f67;
    font-family: 'oswald-bold';
}

.btn-outline-edit {
    margin: 0 2%;
}

select {
  width: 250px;
}

.table-resp {
    button {
        padding: 0.075rem 0.35rem;
    }
    z-index: 1;
    @include respond-to($phone) {
        height: 75vh;
    }
    @include respond-to($phone-landscape) {
        height: 73vh;
    }
}

table {
    width: 100%;
    th,td {
        white-space: nowrap;
    }
}
