<div class="content-proveedor container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h1 class="text-center mt-md-3">Proveedores</h1>
    </div>
    <!-- <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 menu-buttons text-center">
    </div> -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-0 pl-md-none d-flex">
        <button type="button" class="btn btn-outline-add btn-add-provider text-nowrap mx-3" (click)="addProvider()"><i class="fas fa-plus-square"></i><span class="d-none d-md-inline-block ml-md-2">Agregar Proveedor</span></button>
        <input type="text" class="form-control" id="search" (keyup)="applyFilter($event.target.value)" aria-describedby="search" placeholder="Buscar...">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="table-responsive table-resp position-relative">
        <table mat-table [dataSource]="arrayProveedores" matSort class="mat-elevation-z8">

          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Identification Column -->
          <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </th>
            <td mat-cell *matCellDef="let element"> {{element.identificacion}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
          </ng-container>

          <!-- Telephone Column -->
          <ng-container matColumnDef="razonSocial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Razon Social </th>
            <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
          </ng-container>

          <!-- Telephone Column -->
          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
          </ng-container>

          <!-- Telephone Column -->
          <ng-container matColumnDef="celular">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
            <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
          </ng-container>

          <!-- Telephone Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <!-- Telephone Column -->
          <ng-container matColumnDef="municipio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
            <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
          </ng-container>

          <!-- Telephone Column -->
          <ng-container matColumnDef="tipoProveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Proveedor </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoProveedor}} </td>
          </ng-container>

          <!-- Buttons Actions Column -->
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element" class="white-space">
              <button type="button" class="btn btn-outline-edit" (click)="getProveedor(element.id, true)"><i class="fas fa-pen-fancy"></i></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="showColsProveedores; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: showColsProveedores;"></tr>
        </table>
        <mat-paginator class="w-100" [pageSize]="12" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>

<proveedor-template #provModal (response)="addTo($event)"></proveedor-template>
