.content-people {
    border: 1px solid #ced4da;
    position: absolute;
    z-index: 1000;
    background: #fff;
    box-shadow: 0px 2px 9px -4px #777;
    border-radius: 0 0 5px 5px;
    width: 339px;
    height: 200px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.2s linear;
}

.show-content {
    visibility: visible;
    opacity: 1;
}

.content-people ul {
    padding: 0;
}

.content-people ul li {
    list-style: none;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4e4e4e;
}

.content-people ul li:hover {
    overflow: unset;
    text-overflow: unset;
    white-space: pre-line;
    cursor: pointer;
    background: #dedede;
}

input:focus {
    box-shadow: 0px 2px 9px -4px #777;
    border: 1px solid #ced4da !important;
    border-radius: 4px 4px 0 0 !important;
    border-bottom: unset;
}

.content-people::-webkit-scrollbar {
    width: 6px;
}

.content-people::-webkit-scrollbar-track {
    background: #ced4da;
}

.content-people::-webkit-scrollbar-thumb {
    background: #4f5050;
}