<input type="text" class="form-control" autocomplete="off" placeholder="Buscar..." [attr.disabled]="read ? '' : null" [(ngModel)]="val" name="val" (keyup)="onKeydown($event.target.value)">
<div class="content-people" [ngClass]="{'show-content': showContent}">
    <ul>
        <li *ngFor="let data of result" (click)="itemSelected(data)"><i class="fas fa-file-contract"></i>
            <span class="ml-1" *ngIf="data.nombre !== null && data.nombre !== ''">{{ data.nombre }} {{ data.apellidos }}</span>
            <span class="ml-1" *ngIf="data.nombre === null || data.nombre === ''">{{ data.razonSocial }}</span>
        </li>
    </ul>
</div>