<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="text-center mt-md-3">Estados</h1>
        </div>
        <div class="col-8 col-sm-9 col-md-12 col-lg-12 col-xl-12 d-flex">
          <button type="button" class="btn btn-outline-add btn-add-provider text-nowrap mx-3" data-toggle="modal" data-target="#modalEstado" (click)="add()"><i class="fas fa-plus-square"></i><span class="d-none d-md-inline-block ml-md-2">Agregar Estado</span></button>
          <button type="button" class="btn btn-outline-save text-nowrap mr-3" (click)="exportExcel()"><i class="far fa-file-excel"></i><span class="d-none d-md-inline-block ml-md-2">Exportar</span></button>
            <input type="text" class="form-control" id="search" (keyup)="applyFilter($event.target.value)" aria-describedby="search" placeholder="Buscar...">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive table-resp">
                <table mat-table [dataSource]="arrayEstados" matSort class="mat-elevation-z8">

                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Módulo Column -->
                    <ng-container matColumnDef="modulo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Módulo </th>
                            <td mat-cell *matCellDef="let element"> {{element.modulo}} </td>
                        </ng-container>

                    <!-- Nombre Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Estado Column -->
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{(element.estado=='A')?'Activo':'Inactivo'}} </td>
                    </ng-container>

                    <!-- Buttons Actions Column -->
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> Acción </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" class="btn btn-outline-edit" (click)="open(element.id)"><i class="fas fa-pen-fancy"></i></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="showCols; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: showCols;"></tr>
                </table>
                <mat-paginator [pageSize]="12" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEstado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelModalEstado"><i class="fas fa-sync-alt"></i> Estado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre" class="label-required">Nombre <span>*</span></label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresa un nombre" [(ngModel)]="estado.nombre" name="nombre">
                        </div>
                        <div class="form-group">
                            <label for="modulo" class="label-required">Módulo <span>*</span></label>
                            <input type="text" class="form-control" id="modulo" placeholder="Ingresa un modulo" [(ngModel)]="estado.modulo" name="modulo">
                        </div>
                        <div class="form-group">
                            <label for="tipo">Tipo Estado</label>
                            <input type="text" class="form-control" id="tipo" placeholder="Ingresa un tipo" [(ngModel)]="estado.tipo" name="tipo">
                        </div>
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input type="text" class="form-control" id="color" placeholder="Ingresa un color" [(ngModel)]="estado.color" name="color">
                        </div>
                        <div class="form-group">
                            <label for="colorText">Color Texto</label>
                            <input type="text" class="form-control" id="colorText" placeholder="Ingresa un color al texto" [(ngModel)]="estado.colorText" name="colorText">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="esInicial" [(ngModel)]="estado.esInicial" name="esInicial">
                                <label class="custom-control-label" for="esInicial">Es inicial</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="esFinal" [(ngModel)]="estado.esFinal" name="esFinal">
                                <label class="custom-control-label" for="esFinal">Es final</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="responsableEvento" [(ngModel)]="estado.responsableEvento" name="responsableEvento">
                                <label class="custom-control-label" for="responsableEvento">Responsable evento</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="coordinadorEvento" [(ngModel)]="estado.coordinadorEvento" name="coordinadorEvento">
                                <label class="custom-control-label" for="coordinadorEvento">Coordinador evento</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="seguroHotelero">Nuevo Responsable</label>
                            <app-write-search #nvResp [_setData]="estado.nuevo_responsable" (obj)="estado.nuevo_responsable = $event.id"></app-write-search>
                        </div>
                        <div class="form-group">
                            <label for="estado" class="label-required">Estado <span>*</span></label>
                            <select id="estado" class="form-control" [(ngModel)]="estado.estado" name="estado">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="activo" [(ngModel)]="estado.activo" name="activo">
                                <label class="custom-control-label" for="activo">Activo</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="sumarTotales" [(ngModel)]="estado.sumarTotales" name="sumarTotales">
                                <label class="custom-control-label" for="sumarTotales">Sumar Totales</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                    <button type="button" class="btn btn-outline-save" (click)="save()"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
