@import "../models/_variables";

.modal-body {
    height: 450px;
    overflow-y: auto;
}

.menu-buttons button {
    margin-bottom: 1%;
}

.menu-buttons button:first-child {
    margin-right: 10px;
}

h1,
.modal-title,
.modal-body button,
.modal-body a {
    text-decoration: none;
    color: #0d3f67;
    font-family: 'oswald-bold';
}

table {
    width: 100%;
}

.btn-outline-edit {
    margin: 0 2%;
}

.table-resp button {
    padding: 0.075rem 0.35rem;
}

.table-resp {
    button {
        padding: 0.075rem 0.35rem;
    }
    z-index: 1;
    @include respond-to($phone) {
        height: 75vh;
    }
    @include respond-to($phone-landscape) {
        height: 73vh;
    }
}