<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="text-center">{{title}}</h1>
        </div>
        <div class="col-12 col-sm-4 col-md-12 col-lg-12 col-xl-12 order-3 order-sm-2 d-flex">
            <button type="button" *ngIf="isRol" class="btn btn-outline-add text-nowrap mx-3" (click)="reset()" data-toggle="modal" data-target="#modalRol"><i class="fas fa-plus-square"></i><span class="d-none d-md-inline-block ml-md-2">Agregar Rol</span></button>
            <button type="button" *ngIf="!isRol" class="btn btn-outline-add text-nowrap mx-3" (click)="reset()" data-toggle="modal" data-target="#modalOpcion"><i class="fas fa-plus-square"></i><span class="d-none d-md-inline-block ml-md-2">Agregar Opcion</span></button>
            <!-- <button type="button" class="btn btn-outline-save" (click)="exportExcel()"><i class="far fa-file-excel"></i> Exportar</button> -->
            <ul class="nav nav-pills nav-pills-pr mt-2 mt-sm-0">
                <li class="nav-item" (click)="isRol = true; get('administracion/getRoles');">
                    <a class="nav-link active" id="rol-tab" data-toggle="tab" href="#rol-pr" role="tab" aria-controls="home" aria-selected="true">Rol</a>
                </li>
                <li class="nav-item" (click)="isRol = false; get('administracion/getOpciones');">
                    <a class="nav-link" id="option-tab" data-toggle="tab" href="#option-pr" role="tab" aria-controls="home" aria-selected="false">Opción</a>
                </li>
            </ul>
            <input type="text" class="form-control ml-2" id="search" (keyup)="applyFilter($event.target.value)" aria-describedby="search" placeholder="Buscar...">
        </div>
        <!-- <div class="col-10 col-sm-7 col-md-12 col-lg-12 col-xl order-2 order-sm-3">
        </div> -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 order-4">
            <div class="table-responsive table-resp mt-1">
                <div class="tab-content" id="tabUser">
                    <div class="tab-pane fade show active" id="rol-pr" role="tabpanel" aria-labelledby="rol-tab">
                        <table mat-table [dataSource]="arrayData" matSort class="w-100">

                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>

                            <!-- Estado Column -->
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                                <td mat-cell *matCellDef="let element"> {{(element.estado=='A')?'Activo':'Inactivo'}} </td>
                            </ng-container>

                            <!-- Buttons Actions Column -->
                            <ng-container matColumnDef="accion">
                                <th mat-header-cell *matHeaderCellDef> Acción </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <button type="button" class="btn btn-outline-edit" (click)="open('administracion/getRol/'+element.id)"><i class="fas fa-pen-fancy"></i></button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="showCols; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: showCols;"></tr>
                        </table>
                        <mat-paginator [pageSize]="12" showFirstLastButtons class="w-100"></mat-paginator>
                    </div>
                    <div class="tab-pane fade" id="option-pr" role="tabpanel" aria-labelledby="rol-tab">
                        <table mat-table [dataSource]="arrayDataOpt" matSort class="w-100">

                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>

                            <!-- Buttons Actions Column -->
                            <ng-container matColumnDef="accion">
                                <th mat-header-cell *matHeaderCellDef> Acción </th>
                                <td mat-cell *matCellDef="let element">
                                    <button type="button" class="btn btn-outline-edit" (click)="open('administracion/getOpcion/'+element.id)"><i class="fas fa-pen-fancy"></i></button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="showColsOpt; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: showColsOpt;"></tr>
                        </table>
                        <mat-paginator [pageSize]="12" showFirstLastButtons class="w-100"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRol" tabindex="-1" role="dialog" aria-labelledby="labelRol" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelRol"><i class="fas fa-user-tag"></i> Rol</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills nav-pills-modal">
                        <li class="nav-item">
                            <a class="nav-link active" id="rol-tab" data-toggle="tab" href="#rol" role="tab" aria-controls="home" aria-selected="false">Rol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="option-tab" data-toggle="tab" href="#option" role="tab" aria-controls="home" aria-selected="false">Opciones</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3" id="tabUser">
                        <div class="tab-pane fade show active" id="rol" role="tabpanel" aria-labelledby="rol-tab">
                            <form>
                                <div class="form-group">
                                    <label for="rol-nombre">Nombre <span class="text-danger">*</span></label>
                                    <input type="text" id="rol-nombre" [(ngModel)]="rol.nombre" name="rol-nombre" placeholder="Ingresa un nombre" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="rol-estado">Estado <span class="text-danger">*</span></label>
                                    <select name="rol-estado" id="rol-estado" [(ngModel)]="rol.estado" class="form-control">
                                        <option value="0">Seleccione un estado</option>
                                        <option value="A">Activo</option>
                                        <option value="I">Inactivo</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="rol-contrato">Contrato <span class="text-danger">*</span></label>
                                    <select name="rol_contrato" id="rol-contrato" [(ngModel)]="rol.contratoId" class="form-control">
                                        <option value="-1">Seleccione un contrato</option>
                                        <option *ngFor="let it of dataContratos" value="{{it.contratoId}}">{{it.nombre}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="option" role="tabpanel" aria-labelledby="option-tab">
                            <div class="row">
                                <div class="col-5">
                                    <div class="list-group">
                                        <li class="list-group-item">
                                            <input type="text" class="form-control" [(ngModel)]="searchAllOp" name="searchAllOp" placeholder="Buscar opción...">
                                        </li>
                                        <div>
                                            <li *ngFor="let itm of dataOptions | filterTable: searchAllOp" class="list-group-item list-group-item-action" (click)="addToMoveOption(itm, 'right', $event)">{{itm.nombre}}</li>
                                            <li *ngIf="dataOptions.length == 0" class="list-group-item list-group-item-action">Sin opciones...</li>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 item-ctd">
                                    <div>
                                        <button class="btn d-block btn-outline-orange" data-toggle="tooltip" data-placement="top" title="Agregar Todo" (click)="moveAllOptions('right')"><i class="fas fa-angle-double-right"></i></button>
                                        <button class="btn d-block btn-outline-orange my-4" data-toggle="tooltip" data-placement="top" title="Agregar" (click)="moveOption('right')"><i class="fas fa-angle-right"></i></button>
                                        <button class="btn d-block btn-outline-orange mb-4" data-toggle="tooltip" data-placement="top" title="Remover" (click)="moveOption('left')"><i class="fas fa-angle-left"></i></button>
                                        <button class="btn d-block btn-outline-orange" data-toggle="tooltip" data-placement="top" title="Remover Todo" (click)="moveAllOptions('left')"><i class="fas fa-angle-double-left"></i></button>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="list-group">
                                        <li class="list-group-item">
                                            <input type="text" class="form-control" [(ngModel)]="searchCurrOp" name="searchCurrOp" placeholder="Buscar opción...">
                                        </li>
                                        <div>
                                            <li *ngFor="let itm of dataCurrentOptions | filterTable: searchCurrOp" class="list-group-item list-group-item-action" (click)="addToMoveOption(itm, 'left', $event)">{{itm.nombre}}</li>
                                            <li *ngIf="dataCurrentOptions.length == 0" class="list-group-item list-group-item-action">Sin opciones...</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                    <button type="button" class="btn btn-outline-save" (click)="save('/administracion/saveRol')"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalOpcion" tabindex="-1" role="dialog" aria-labelledby="titleModalOpcion" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleModalOpcion"><i class="fas fa-stream"></i> Opción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nm-opcion">Opción</label>
                            <input type="text" id="nm-opcion" class="form-control" name="opt" [(ngModel)]="opcion.nombre" placeholder="Ingresa una opción">
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-outline-save" (click)="save('/administracion/saveOpcion')"><i class="fas fa-save"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
