@import './../models/variables';

._content-btn {
    width: 400px;
}

.nav-pills {
  min-width: max-content !important;
}

.nav-item {
    a {
        color: $color-dark;
        font-size: 0.8rem !important;
        &.active {
            color: $color-white !important;
            background-color: $color-dark !important;
        }
    }
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
    .list-group {
        height: 309px;
        >div {
            overflow-y: auto;
            li {
                cursor: pointer;
                font-size: 0.8rem;
            }
        }
    }
    .content-center {
        > div {
            width: 47px;
            button {
                width: inherit;
            }
        }
    }
}

.selected-li {
    background-color: $color-dark;
    color: #fff;
}

.table-resp {
    button {
        padding: 0.075rem 0.35rem;
    }
    z-index: 1;
    @include respond-to($phone) {
        height: 66vh;
    }
    @include respond-to($phone-landscape) {
        height: 73vh;
    }
}
