@import "../models/_variables";

.container-img {
    width: 100%; 
    height: 100vh; 
    margin: 0;
}

.container-fluid {
    padding: unset;
}

.input-icon {
    border-bottom: 1px solid #fff;
}

.input-icon label {
    width: 5%;
    height: 38px;
    font-size: 1.5rem !important;
}

.input-icon input {
    color: #fff;
    width: 95%;
    display: inline-block;
    vertical-align: top;
    background: unset;
    border: unset;
    border-radius: 0;
    font-size: 1.2rem !important
}

.input-icon input::placeholder {
    color: #fff;
    font-size: 1.2rem !important
}

input.form-control:focus {
    border-color: unset;
    box-shadow: unset;
}

.ip-pss {
    margin-top: 5%;
}

small {
    cursor: pointer;
}

.btn-login {
    width: 100%;
    padding: 5px;
    background: #8c0404;
    color: #fff;
    box-shadow: 0px 3px 4px -1px #000;
    outline: none;
}

.or {
    width: 40px;
    height: 40px;
    border: 1px solid #8c0404;
    background: #8c0404;
    padding: 10px;
    line-height: 20px;
    @include respond-to($phone) {
        width: 30px;
        height: 30px;
        line-height: 10px;
    }
}

.btn-google {
    width: 50%;
    padding: 5px;
    box-shadow: 0px 3px 4px -1px #000;
    outline: none;
}

.btn-google:active,
.btn-login:active {
    transform: scale(0.9);
}

.copyrigth {
    font-size: 0.8rem;
    color: #f7f7f7;
    display: inline-block;
    vertical-align: top;
}

.spinner-border {
    width: 20px;
    height: 20px;
    margin-left: 2%;
}

.logoDca {
    width: 19px;
    height: 19px;
    display: inline-block;
    margin: 0 2%;
}

.copyrigth-text {
    @include respond-to($phone-landscape) {
        white-space: nowrap!important;
    }
}