<div class="container-fluid">
    <div class="row container-img">
        <div class="col-12 align-self-center">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-7 col-md-7 col-lg-5 col-xl-3 text-light ft-oswd">
                    <h1 class="text-center unformatted">ADESCUBRIR</h1>
                    <form autocomplete="off">
                        <div class="form-group mb-sm-1 mb-md-4">
                            <div class="input-icon">
                                <label for="user"><i class="fas fa-user"></i></label>
                                <input type="text" class="form-control" id="user" placeholder="Usuario" [(ngModel)]="user" name="user">
                            </div>
                        </div>
                        <div class="form-group mb-sm-1 mb-md-3">
                            <div class="input-icon ip-pss">
                                <label for="current-password"><i class="fas fa-lock"></i></label>
                                <input type="password" class="form-control" id="current-password" placeholder="Contraseña" [(ngModel)]="pass" name="pass">
                            </div>
                        </div>
                        <!-- <div class="form-group text-right text-light mb-sm-2 mb-md-4">
                            <small>¿Olvidaste tu contraseña?</small>
                        </div> -->
                        <div class="form-group mb-sm-1 mb-md-4">
                            <button class="btn-login border-0 rounded ft-oswd-lgh" (click)="signInCredentials()">INGRESAR
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                            </button>
                        </div>
                        <div class="form-group mt-4 m-sm-1 mb-md-4">
                            <div class="ft-oswd-lgh m-auto rounded-circle or text-center">O</div>
                        </div>
                        <div class="form-group mt-4 m-sm-1 mt-md-4 text-center">
                            <button class="btn-google border-0 rounded ft-oswd-lgh" (click)="signInWithGoogle()">Ingresa con Google
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loadingGoogle"></span>
                            </button>
                        </div>
                        <div class="form-group mt-4 mt-sm-2 mb-0 mt-md-4 text-center copyrigth-text">
                            <p class="text-center m-0 copyrigth ft-oswd-lgh">@ 2020 ADescubrir. Todos los derechos reservados | </p>
                            <div class="logoDca"></div>
                            <p class="text-center m-0 copyrigth ft-oswd-lgh"> DCA Soluciones - Versión 2.0</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
