<div class="content-menu text-center overflow-unset" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-sm-none">
        <button class="pt-2 responsive-btn" (click)="showMenu = !showMenu"><i class="fas fa-bars"></i></button>
      </div>
      <div class="col-9 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="btn-group dropright pr-3 pr-sm-0 pr-md-0 pr-lg-0 pr-xl-0">
          <button id="profile-drop" type="button" class="btn btn-user text-white dropdown-toggle" (click)="openDrop = !openDrop" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span *ngIf="user.photoUrl == ''">{{ name }}</span>
            <img *ngIf="user.photoUrl != ''" class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
          </button>
          <div class="dropdown-menu">
            <!-- <p class="text-center m-0">{{ user.nombres }} {{ user.apellidos }}</p> -->
            <p class="text-center m-0">{{ user.nombre }}</p>
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Configuración</a> -->
            <a class="dropdown-item" (click)="changePassword()"><i class="fas fa-user-lock"></i> Cambiar Contraseña</a>
            <a class="dropdown-item" (click)="signOut()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="content-items pt-sm-5 pt-xl-5">
          <ul class="mt-2 mb-0 mt-xl-5 pt-xl-5 list-unstyled d-flex d-sm-block justify-content-center">
            <li data-toggle="tooltip" *ngIf="util.containsOption('menu.administracion')" data-placement="right" title="Datos">
              <i class="fas fa-database" (click)="changeMenu('datos', 0)"></i>
            </li>
            <li data-toggle="tooltip" data-placement="right" title="Eventos" class="ml-5 ml-sm-0 ml-md-0 mt-sm-3 mt-md-5">
              <i class="fas fa-globe-europe" (click)="changeMenu('eventos', 1)" [routerLink]="['evento/']"></i>
            </li>
            <li data-toggle="tooltip" *ngIf="util.containsOption('menu.tesoreria')" data-placement="right" title="Tesoreria" class="ml-5 ml-sm-0 ml-md-0 mt-sm-3 mt-md-5">
              <i class="fas fa-money-bill-alt" (click)="changeMenu('tesoreria', 2)"></i>
            </li>
            <!-- <li data-toggle="tooltip" data-placement="right" title="Clientes"><i class="fas fa-user-tie" (click)="changeMenu('clientes', 2)"></i></li>
            <li data-toggle="tooltip" data-placement="right" title="Compras"><i class="fas fa-shopping-bag" (click)="changeMenu('compras', 3)"></i></li>
            <li data-toggle="tooltip" data-placement="right" title="Tesoreria"><i class="fas fa-coins" (click)="changeMenu('tesoreria', 4)"></i></li>
            <li data-toggle="tooltip" data-placement="right" title="Facturación"><i class="fas fa-file-invoice-dollar" (click)="changeMenu('facturacion', 5)"></i>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Change Contraseña -->
<div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="modalPasswordLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPasswordLabel"><i class="fas fa-user-lock"></i> Cambiar Contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="oldPassword" class="form-label">Contraseña Anterior</label>
            <input type="password" class="form-control" [(ngModel)]="oldPassword" name="oldPassword" id="oldPassword" aria-describedby="oldPassword" placeholder="Ingresa la Contraseña anterior">
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">Nueva Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="newPassword" id="newPassword" name="newPass" aria-describedby="newPassword" placeholder="Ingresa la Nueva contraseña">
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="confirmPassword" id="confirmPassword" name="confirmPassword" aria-describedby="confirmPassword" placeholder="Confirma la Nueva contraseña">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
        <button type="button" class="btn btn-success" (click)="savePassword()"><i class="fas fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>
