@import "../models/_variables";

$color-buttons: #c10000;
$color-buttons-hover: #f76262;
$margin-top-default: 50%;
$height-menu: 60px;

.content-menu {
    height: 100%;
    width: 90px;
    background-color: #313848;
    box-shadow: 3px 0px 10px 3px grey;
    z-index: 100;
    position: relative;
    overflow: hidden;
    transition: all .5s;
    @include respond-to($phone) {
        // height: 100%;
        max-height: $height-menu !important;
        transition: max-height .5s ease-out;
        width: 100%;
    }
    @include respond-to($phone-landscape) {
        width: 70px;
    }
    .btn-group {
        .dropdown-menu {
            p {
                font-size: 0.7rem;
                padding: 3px;
                color: #969696;
            }
            a {
                &:hover {
                    cursor: pointer; 
                }
            }
            .dropdown-item:active {
                background: #313848;
                color: #fff;
            }
        }
        .btn-user {
            margin-top: $margin-top-default;
            border-radius: $margin-top-default;
            background: $color-buttons;
            border-color: $color-buttons;
            width: 36px !important;
            height: 36px !important;
            &::after {
                display: none !important;
            }
            img {
                width: inherit;
                border-radius: 50%;
                position: absolute;
                left: -1px;
                top: -1px;
            }
        }
        @include respond-to($phone) {
            float: right !important;
        }
    }
    button {
        font-family: 'oswald-light';
    }
    ul {
        li {
            color: $color-buttons;
            i {
                font-size: 1.8rem;
                &:hover {
                    cursor: pointer; 
                    color: $color-buttons-hover;
                }
            }
        }
    }
    .responsive-btn {
        height: min-content;
        background: unset;
        border: none;
        font-size: 2rem;
        color: #c10000;
    }
}

.overflow-unset {
    overflow: unset;
}

.expand-m {
    max-height: 100% !important;
    @include respond-to($phone) {
        max-height:95px !important;
        transition: max-height .5s ease-in;
    }
}

.active-item {
    color: $color-buttons-hover !important;
}