<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="text-center">Kumpanias</h1>
        </div>
        <div class="col-10 col-sm-10 col-md-12 col-lg-12 col-xl-12 d-flex">
            <button type="button" class="btn btn-outline-add text-nowrap mx-3"  (click)="reset()" data-toggle="modal" data-target="#modalKumpania"><i class="fas fa-plus-square"></i><span class="d-none d-md-inline-block ml-md-2">Agregar Kumpania</span></button>
            <!-- <button type="button" class="btn btn-outline-save" (click)="exportExcel()"><i class="far fa-file-excel"></i><span class="d-none d-md-inline-block ml-md-2">Exportar</span></button> -->
            <input type="text" class="form-control" id="search" (keyup)="applyFilter($event.target.value)" aria-describedby="search" placeholder="Buscar...">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive table-resp">
                <table mat-table [dataSource]="arrayData" matSort class="w-100">

                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Estado Column -->
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{(element.estado=='A')?'Activo':'Inactivo'}} </td>
                    </ng-container>

                    <!-- Dane Column -->
                    <ng-container matColumnDef="dane">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dane </th>
                        <td mat-cell *matCellDef="let element"> {{element.dane}} </td>
                    </ng-container>

                    <!-- Municipio Column -->
                    <!-- <ng-container matColumnDef="municipio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
                        <td mat-cell *matCellDef="let element"> {{element.municipio}} </td>
                    </ng-container> -->

                    <!-- Buttons Actions Column -->
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> Acción </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" class="btn btn-outline-edit" (click)="open(element.id); _disabled = false;"><i class="fas fa-pen-fancy"></i></button>
                            <!-- <button type="button" class="btn btn-outline-delete" (click)="deshabilitar(element.id)"><i class="fas fa-trash-alt"></i></button> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="showCols; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: showCols;"></tr>
                </table>
                <mat-paginator [pageSize]="12" showFirstLastButtons class="w-100"></mat-paginator>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalKumpania" tabindex="-1" role="dialog" aria-labelledby="labelKumpanias" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelKumpanias"><i class="fas fa-handshake"></i> Kumpania</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre" class="label-required">Nombre <span>*</span></label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresa un nombre" [attr.disabled]="_disabled ? '' : null" [(ngModel)]="kumpania.nombre" name="nombre">
                        </div>
                        <div class="form-group">
                            <label for="dane" class="label-required">Dane <span>*</span></label>
                            <input type="text" class="form-control" id="dane" placeholder="Ingresa un dane" [attr.disabled]="_disabled ? '' : null" [(ngModel)]="kumpania.dane" name="dane">
                        </div>
                        <div class="form-group">
                            <label for="estado" class="label-required">Estado <span>*</span></label>
                            <select id="estado" class="form-control" [attr.disabled]="_disabled ? '' : null" [(ngModel)]="kumpania.estado" name="estado">
                                <option value="">Selecciona una opción...</option>
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                    <button type="button" class="btn btn-outline-save" (click)="save()" *ngIf="!_disabled"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
