<div class="row">
    <div class="col-12 m-0">
      <div class="input-group mb-1">
        <input type="search" class="form-control" [(ngModel)]="letter" name="letter" autocomplete="off" aria-describedby="Buscar Datos!" aria-label="Buscar Datos!" [attr.disabled]="disabled ? '' : null" (keyup)="onKeyUp($event.target.value)" placeholder="Buscar un registro...">
        <div class="input-group-append">
          <button class="btn btn-consulta" (click)="showContent = !showContent;" [attr.disabled]="disabled ? '' : null"><i class="fas " [ngClass]="showContent ? 'fa-caret-up':'fa-caret-down'"></i></button>
        </div>
      </div>
    </div>
    <div class="col-12 m-0">
      <section class="_content-data w-75" [ngClass]="showContent ? 'open':null">
        <ul class="list-group" *ngIf="!multiple">
          <li class="list-group-item w-100" *ngFor="let item of datos" (click)="itemSelected(item)">{{ item.name }}</li>
        </ul>
        <ul class="list-group" *ngIf="multiple">
          <li class="list-group-item w-100" *ngFor="let item of datos; let in = index">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [attr.id]="'customCheck'+in" (click)="addToList(item)">
              <label class="custom-control-label" [attr.for]="'customCheck'+in">{{ item.name }}</label>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>