.badge-orange {
    color: #fff;
    background-color: #0d3f67;
}

ul li {
    width: 300px;
    padding: 5px;
    cursor: pointer;
}

ul li:hover {
    background-color: #f9f1eb;
}

// ._content-data::-webkit-scrollbar {
//     width: 6px;
// }

// ._content-data::-webkit-scrollbar-track {
//     background: #ced4da;
// }

// ._content-data::-webkit-scrollbar-thumb {
//     background: #ff9200;
// }

button {
    border: 1px solid #ced4da;
    cursor: pointer;
    color: #8c0404;
}

._content-data {
    height: 0px;
    width: 93%;
    overflow-y: auto;
    position: absolute;
    z-index: 123;
    box-shadow: 0px 15px 24px -18px;
    background-color: #fff;
    -webkit-transition:height, 0.2s linear;
    -moz-transition: height, 0.2s linear;
    -ms-transition: height, 0.2s linear;
    -o-transition: height, 0.2s linear;
    transition: height, 0.2s linear;
}

._content-data.open {
    height: 130px;
    -webkit-transition:height, 0.2s linear;
    -moz-transition: height, 0.2s linear;
    -ms-transition: height, 0.2s linear;
    -o-transition: height, 0.2s linear;
    transition: height, 0.2s linear;
}

.custom-control-input {
    z-index: 1000;
    position: absolute;
    left: 2px;
    top: 6px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #0d3f67;
}

