@import "../models/_variables";

h1,
h5,
.modal-title,
.modal-body button,
.modal-body a {
    text-decoration: none;
    color: #0d3f67;
    font-family: 'oswald-bold';
}

textarea,
input::-webkit-placeholder,
input::placeholder,
.btn-add-provider,
select,
input,
legend,
label {
  font-family: 'oswald-regular';
  font-size: .8rem;
}

.table-modal button,
.table-resp button {
    padding: 0.075rem 0.35rem;
}

table {
    width: 100%;
}

.table-responsive {
  height: max-content !important;
}

.header-filter {
  input,
  select {
    width: 200px;
  }
}

#accordionPagos {
  .card-header {
    padding: 0.05rem 0.95rem !important;
    button {
      color: #0d3f67;
      font-family: "oswald-light";
      &:focus,
      &:hover {
        text-decoration: unset !important;
      }
      span:last-of-type {
        width: 139px;
        text-align: left;
      }
    }
  }
  .card-body {
    padding: 0.25rem 1rem !important;
  }
}

#modalDocument {
    .modal-dialog {
        max-width: 45vw !important;
        .modal-body {
            overflow: auto;
            height: 55vh;
            table {
                button {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.soporte-dropzone {
    margin: 0px 15px;
    height: 100px;
    ngx-dropzone-preview {
        height: 70px !important;
        max-width: 90px !important;
        min-height: 70px !important;
        min-width: 70px !important;
        padding: unset !important;
        ngx-dropzone-label {
            font-size: 0.7rem;
            color: #000;
        }
        ngx-dropzone-remove-badge {
            opacity: 1;
            top: -5px;
        }
    }
}

.table-resp {
    button {
        padding: 0.075rem 0.35rem;
    }
    z-index: 1;
    @include respond-to($phone) {
        height: 75vh;
    }
    @include respond-to($phone-landscape) {
        height: 73vh;
    }
}

.ellipsis {
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: zoom-in;
  &:hover {
    white-space: normal;
    position: absolute;
    top: 7px;
    left: -5px;
    // background: #fff;
    padding: 5px;
    width: max-content;
    box-shadow: 0px 1px 10px -5px #585858;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    background: #fff;
  }
}
