<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="text-center mt-md-3">Listado Pagos</h1>
        </div>
        <div class="col-3 col-sm-2 col-md-12 col-lg-12 col-xl-12 d-flex header-filter">
          <label for="sfInit" class="m-0 d-flex align-items-center text-nowrap mr-3 ml-4">Fecha Inicial</label>
          <input type="date" [(ngModel)]="d.fechaInicial" name="fechaInicial" class="form-control" id="sfInit">
          <label for="sfEnd" class="m-0 d-flex align-items-center text-nowrap mx-3">Fecha Final</label>
          <input type="date" [(ngModel)]="d.fechaFin" name="fechaFin" class="form-control" id="sfEnd">
          <label for="sEstado" class="m-0 d-flex align-items-center text-nowrap mx-3">Estado</label>
          <select id="sEstado" [(ngModel)]="d.estado" name="estado" class="form-control">
            <option value="">Seleccione una opción</option>
            <option value="AUTORIZACION">AUTORIZACION</option>
            <option value="AUTORIZADO">AUTORIZADO</option>
            <option value="PAGADO">PAGADO</option>
            <option value="SOLICITADO">SOLICITADO</option>
            <option value="CON_SALDO">CON_SALDO</option>
          </select>
          <button class="btn btn-outline-dark ml-3" (click)="consult()"><i class="fas fa-search"></i></button>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 d-flex justify-content-between align-items-center">
            <div class="ml-4">
                <button class="btn btn-outline-info mr-3" (click)="isGroup = true"><i class="fas fa-list"></i> Grupo</button>
                <button class="btn btn-outline-info" (click)="isGroup = false"><i class="fas fa-table"></i> Tabla</button>
            </div>
            <div class="d-flex">
              <h5 class="mb-0 mr-5">Cantidad: {{cantidad}}</h5>
              <h5 class="m-0">Total: ${{util.miles(total)}}</h5>
            </div>
        </div>
        <div *ngIf="isGroup" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div id="accordionPagos" class="mt-4">
            <div class="card" *ngFor="let contratos of groupData; let i = index">
              <div class="card-header" [attr.id]="'headingOne' + i">
                <h5 class="mb-0">
                  <button class="btn btn-link w-100 d-flex justify-content-between" data-toggle="collapse" [attr.data-target]="'#collapseOne' + i" aria-expanded="true" [attr.aria-controls]="'collapseOne' + i">
                    <span>({{contratos.data.length}}) - {{contratos.key}}</span> <span class="d-flex justify-content-between">Total: $ <div class="text-right">{{util.miles(contratos.total)}}</div></span>
                  </button>
                </h5>
              </div>

              <div [attr.id]="'collapseOne' + i" class="collapse" [attr.aria-labelledby]="'headingOne' + i" data-parent="#accordionPagos">
                <div class="card-body">
                    <ng-container *ngTemplateOutlet="fullTable; context:{contratos:contratos,position:i}"></ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isGroup" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ng-container *ngTemplateOutlet="fullTable; context:{contratos:arrayPagosTable,position:-1}"></ng-container>
        </div>
    </div>
</div>

<ng-template #fullTable let-contratos="contratos" let-position="position">
    <div class="table-responsive table-resp position-relative">
        <table #tb mat-table matSort (matSortChange)="sortData($event, contratos.data, position)" [dataSource]="contratos.data" class="mat-elevation-z8">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <!-- Evento Column -->
        <ng-container matColumnDef="idEvento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Evento </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-dark my-1" (click)="openEvent(element.idEvento)">{{element.idEvento}}</button></td>
        </ng-container>

        <!-- Evento Column -->
        <ng-container matColumnDef="estadoEvento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado evento </th>
          <td mat-cell *matCellDef="let element">{{element.estadoEvento}}</td>
       </ng-container>

        <!-- Nombre Concepto -->
        <ng-container matColumnDef="nombreConcepto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </th>
            <td mat-cell *matCellDef="let element">{{element.nombreConcepto}}</td>
        </ng-container>

        <!-- Fecha Inicio Evento Column -->
        <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
            <td mat-cell *matCellDef="let element">{{element.fechaInicio | date: 'dd/MM/yyyy'}}</td>
        </ng-container>

        <!-- Identificacion Column -->
        <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </th>
            <td mat-cell *matCellDef="let element">{{element.persona.identificacion}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element" class="position-relative"> <div *ngIf="element.persona != undefined" [ngClass]="element.persona.nombre.length > 30?'ellipsis':''">{{element.persona.nombre}}</div> </td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
            <td mat-cell *matCellDef="let element">${{util.miles(element.total)}}</td>
        </ng-container>

        <!-- Valor Column -->
        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pagado </th>
            <td mat-cell *matCellDef="let element">${{util.miles(element.valor)}}</td>
        </ng-container>

        <!-- Saldo Column -->
        <ng-container matColumnDef="saldo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo </th>
          <td mat-cell *matCellDef="let element">${{util.miles(element.saldo)}}</td>
        </ng-container>

        <!-- Usuario Column -->
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let element">{{element.usuario}}</td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let element">{{element.estado}}</td>
        </ng-container>

        <!-- Buttons Actions Column -->
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element" class="text-nowrap">
              <button type="button" *ngIf="element.estado == 'PAGADO'" class="btn btn-outline-edit ml-2" (click)="loadPayments(element.id,element.anticipoNuevo)"><i class="fas fa-eye"></i></button>
              <button type="button" class="btn btn-outline-edit mx-2" *ngIf="element.estado == 'SOLICITADO' || element.estado == 'AUTORIZACION'" (click)="autorizar(element.id,element.anticipoNuevo)">Autorizar</button>
              <!-- <button type="button" class="btn btn-outline-dark mr-2" *ngIf="element.estado == 'SOLICITADO'" (click)="generar(element.id,true,element.anticipoNuevo)">Generar</button> -->
              <button type="button" class="btn btn-outline-add mr-2" *ngIf="element.estado != 'PAGADO'" (click)="generar(element.id,false,element.anticipoNuevo)">Reenviar</button>
              <button type="button" *ngIf="element.estado == 'AUTORIZADO' || element.estado == 'CON_SALDO'" class="btn btn-outline-save mr-2" (click)="getDocument(element.id,element.anticipoNuevo)"><i class="fas fa-dollar-sign"></i></button>
              <!-- <button type="button" class="btn btn-outline-delete" (click)="deshabilitar(element.id)"><i class="fas fa-trash-alt"></i></button> -->
            </td>
        </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColsPagos; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: showColsPagos;"></tr>
        </table>
        <!-- <mat-paginator [pageSize]="12" showFirstLastButtons></mat-paginator> -->
    </div>
</ng-template>

<!-- Modal -->
<div class="modal fade" id="modalDocument" tabindex="-1" aria-labelledby="documentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentModalLabel">Pagar Documento Contable</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form *ngIf="documento != undefined">
                    <div class="form-group row mb-0">
                        <label for="personNameDoc" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <p id="personNameDoc" class="m-0"><span *ngIf="documento.persona != undefined">{{documento.persona.nombre}}</span><span *ngIf="documento.persona == undefined">{{documento.beneficiario.nombre}}</span></p>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label for="personIden" class="col-sm-2 col-form-label">Identificación</label>
                        <div class="col-sm-10">
                            <p id="personIden" class="m-0"><span *ngIf="documento.persona != undefined">{{documento.persona.identificacion}}</span><span *ngIf="documento.persona == undefined">{{documento.beneficiario.identificacion}}</span></p>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label for="peronValDoc" class="col-sm-2 col-form-label">Valor</label>
                        <div class="col-sm-10">
                            <p id="peronValDoc" *ngIf="documento.total != undefined" class="m-0">${{util.miles(documento.total)}}</p>
                            <p id="peronValoDoc" *ngIf="documento.total == undefined" class="m-0">${{util.miles(documento.valor)}}</p>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label for="personSalDoc" class="col-sm-2 col-form-label">Saldo</label>
                        <div class="col-sm-10">
                            <p id="personSalDoc" class="m-0">${{util.miles(documento.saldo)}}</p>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <label for="personValCopDoc" class="col-sm-2 col-form-label">Valor a copiar</label>
                        <div class="col-sm-10">
                            <p id="personValCopDoc" class="m-0">${{util.miles(documento.saldo)}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="personMedioPa" class="col-sm-2 col-form-label">Medio Pago <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <select id="personMedioPa" [(ngModel)]="pago.idMedioPago" name="idMedioPago" class="form-control">
                                <option *ngFor="let d of dataPayments" value="{{d.id}}">{{d.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="pago.idMedioPago != 0 && pago.idMedioPago != 1">
                        <label for="personCuentsBan" class="col-sm-2 col-form-label">Cuentas Bancarias</label>
                        <div class="col-sm-10">
                            <table class="table table-sm m-0">
                                <thead>
                                    <tr>
                                        <td>Banco</td>
                                        <td>Cuenta</td>
                                        <td>Tipo</td>
                                        <td>Iden. Titular</td>
                                        <td>Nombre Titular</td>
                                        <td>Acción</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="documento.persona != undefined">
                                        <tr *ngFor="let d of documento.persona.cuentasBancarias">
                                            <ng-container *ngTemplateOutlet="tbody; context:{d:d}"></ng-container>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="documento.beneficiario != undefined">
                                        <tr *ngFor="let d of documento.beneficiario.cuentasBancarias">
                                            <ng-container *ngTemplateOutlet="tbody; context:{d:d}"></ng-container>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="pago.idMedioPago != 0 && pago.idMedioPago != 1">
                        <label for="personCuenBan" class="col-sm-2 col-form-label">Cuenta Bancaria <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input id="personCuenBan" type="text" [(ngModel)]="pago.cuenta" name="cuenta" class="form-control" placeholder="Número Cuenta Bancaria">
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="pago.idMedioPago != 0 && pago.idMedioPago != 1">
                        <label for="personBan" class="col-sm-2 col-form-label">Banco <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <select name="personBan" id="personBan" [(ngModel)]="pago.idBanco" class="form-control">
                                <option *ngFor="let d of dataBancos" value="{{d.id}}">{{d.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="pago.idMedioPago == 2">
                        <label for="personNumChe" class="col-sm-2 col-form-label">Nro. Cheque <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input id="personNumChe" type="text" [(ngModel)]="pago.cheque" name="cheque" class="form-control" placeholder="Ingrese el número cheque">
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="pago.idMedioPago == 3">
                        <label for="personTrans" class="col-sm-2 col-form-label">Nro. Transacción <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input id="personTrans" type="text" [(ngModel)]="pago.nroTransaccion" name="nroTransaccion" class="form-control" placeholder="Ingrese el número transacción">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="docConText1" class="col-sm-2 col-form-label">Texto 1</label>
                        <div class="col-sm-10">
                            <input id="docConText1" type="text" [(ngModel)]="pago.texto1" name="texto1" class="form-control" placeholder="Texto 1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="docConText2" class="col-sm-2 col-form-label">Texto 2</label>
                        <div class="col-sm-10">
                            <input id="docConText2" type="text" [(ngModel)]="pago.texto2" name="texto2" class="form-control" placeholder="Texto 2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="observPerson" class="col-sm-2 col-form-label">Observaciones</label>
                        <div class="col-sm-10">
                            <textarea id="observPerson" class="form-control" [(ngModel)]="pago.observaciones" name="observPerson" rows="3" placeholder="Ingresa una observación"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="personValPag" class="col-sm-2 col-form-label">Valor pagado <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            <input id="personValPag" type="text" [(ngModel)]="valorAnticipo" name="total" class="form-control" (ngModelChange)="valorAnticipo = util.miles(valorAnticipo)" (keydown)="util.validateOnlyNumbers($event)" placeholder="Valor pagado">
                            <!-- <input *ngIf="documento.total != undefined" id="personValPag" type="text" [(ngModel)]="documento.total" name="total" class="form-control" (ngModelChange)="documento.total = util.miles(documento.total)" (keydown)="util.validateOnlyNumbers($event)" placeholder="Valor pagado"> -->
                            <!-- <input *ngIf="documento.total == undefined" id="personValorPag" type="text" [(ngModel)]="documento.valor" name="valor" class="form-control" (ngModelChange)="documento.valor = util.miles(documento.valor)" (keydown)="util.validateOnlyNumbers($event)" placeholder="Valor pagado"> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="soporte-dropzone w-100" ngx-dropzone [id]="'drop-soporte-pagos'" [multiple]="false" (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <div>
                                    <h3>Click aquí o arrastra tu SOPORTE *</h3>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label [attr.tp]="f.type">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
                <button type="button" class="btn btn-outline-save" (click)="save()"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #tbody let-d="d">
    <td>{{d.banco.nombre}}</td>
    <td>{{d.cuenta}}</td>
    <td>{{d.tipoCuenta}}</td>
    <td>{{d.titular}}</td>
    <td>{{d.nombreTitular}}</td>
    <td>
        <button class="btn btn-outline-dark" (click)="accountSelected(d)">Seleccionar</button>
    </td>
</ng-template>

<!-- Modal visualizar pagos -->
<div class="modal fade" id="modalViewPayments" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Soporte de pagos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Medio Pago</th>
              <th scope="col">Total</th>
              <th scope="col">Soporte</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of anticipoPagos">
              <td>{{d.medioPago.nombre}}</td>
              <td>${{util.miles(d.total)}}</td>
              <td>
                <button type="button" class="btn btn-outline-edit btn-sm" (click)="openPyment(d.soporte)"><i class="fas fa-external-link-alt"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalPDF" tabindex="-1" role="dialog" aria-labelledby="labelPDF" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header p-0 border-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body pt-0">
              <iframe id="iframePDF" title="Shwo PDF" width="100%" style="height: 100%;" [attr.src]="assetUrl"></iframe>
          </div>
      </div>
  </div>
</div>

<app-evento-template #eventoTempModal></app-evento-template>
