.container-fluid {
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.row {
    height: 100%;
}

.col-xl-1 {
    max-width: 85px !important;
    padding-right: 0;
}

.col-xl-2 {
    padding: 0;
    max-width: 12.666667%;
    overflow: hidden;
}

.inactive-menu {
    max-width: 0;
}