<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="text-center mt-md-3">Activos Fijos</h1>
        </div>
        <!-- <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2 menu-buttons text-center">
        </div> -->
        <div class="col-8 col-sm-9 col-md-12 col-lg-12 col-xl-12 d-flex">
          <button type="button" class="btn btn-outline-add btn-add-provider text-nowrap mx-3" data-toggle="modal" data-target="#modalActivo" (click)="add()"><i class="fas fa-plus-square"></i><span class="d-none d-md-inline-block ml-md-2">Agregar Activo</span></button>
          <button type="button" class="btn btn-outline-save text-nowrap mr-3" (click)="exportExcel()"><i class="far fa-file-excel"></i><span class="d-none d-md-inline-block ml-md-2">Exportar</span></button>
            <input type="text" class="form-control" id="search" (keyup)="applyFilter($event.target.value)" aria-describedby="search" placeholder="Buscar...">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive table-resp">
                <table mat-table [dataSource]="arrayActivos" matSort class="mat-elevation-z8">

                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Id Column -->
                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="tipoActivo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Activo </th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoActivo}} </td>
                    </ng-container>

                    <!-- Telephone Column -->
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{(element.estado == 'A' ? 'Activo': 'Inactivo')}} </td>
                    </ng-container>

                    <!-- Buttons Actions Column -->
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> Acción </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" class="btn btn-outline-edit" (click)="open(element.id)"><i class="fas fa-pen-fancy"></i></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="showColsActivos; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: showColsActivos;"></tr>
                </table>
                <mat-paginator [pageSize]="12" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalActivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelModalContrato"><i class="fas fa-book"></i> Activo Fijo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="codigo" class="label-required">Código <span>*</span></label>
                            <input type="text" class="form-control" id="codigo" placeholder="Ingresa un código" [(ngModel)]="activoFijo.codigo" name="codigo">
                        </div>
                        <div class="form-group">
                            <label for="nombre" class="label-required">Nombre <span>*</span></label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresa un nombre" [(ngModel)]="activoFijo.nombre" name="nombre">
                        </div>
                        <div class="form-group">
                            <label for="tipoActivos">Tipo Activo</label>
                            <select id="tipoActivos" class="form-control" [(ngModel)]="activoFijo.tipoActivo" name="tipoActivo">
                                <option value="0">Seleccione una opción</option>
                                <option *ngFor="let data of arrayTipoActivo" value="{{ data.vl }}">{{ data.op }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="marca">Marca</label>
                            <input type="text" class="form-control" id="marca" placeholder="Ingresa una marca" [(ngModel)]="activoFijo.marca" name="marca">
                        </div>
                        <div class="form-group">
                            <label for="serial">Serial</label>
                            <input type="text" class="form-control" id="serial" placeholder="Ingresa un serial" [(ngModel)]="activoFijo.serial" name="serial">
                        </div>
                        <div class="form-group">
                            <label for="datosTecnicos">Datos Técnicos</label>
                            <textarea class="form-control" id="datosTecnicos" placeholder="Ingresa los datos técnicos" rows="3" [(ngModel)]="activoFijo.datosTecnicos" name="datosTecnicos"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" id="descripcion" placeholder="Ingresa una descripción" rows="3" [(ngModel)]="activoFijo.descripcion" name="descripcion"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Usuario Actual</label>
                            <input type="text" class="form-control" placeholder="Ingresa un usuario actual" [(ngModel)]="activoFijo.usuarioActual" name="usuarioActual">
                        </div>
                        <div class="form-group">
                            <label for="paraEventos">Para Eventos?</label>
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="paraEventos" [(ngModel)]="activoFijo.deEventos" name="deEventos">
                                <label class="custom-control-label" for="paraEventos"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="estado" class="label-required">Estado <span>*</span></label>
                            <select id="estado" class="form-control" [(ngModel)]="activoFijo.estado" name="estado">
                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                    <button type="button" class="btn btn-outline-save" (click)="save()"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
