@import "../models/_variables";

.container-title {
    font-family: 'oswald-light';
    color: #bfc2ca;
    h1 {
        font-size: 8rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    @include respond-to($phone) {
        h1 {
            font-size: 3.5rem !important;
        }
        h3 {
            font-size: 2rem !important;
        }
    }
    @include respond-to($phone-landscape) {
        h1 {
            font-size: 4rem;
        }
        h3 {
            font-size: 2rem;
        }
    }
}