<select class="form-control" [attr.disabled]="read ? '' : null" [ngClass]="css!=''?css:''" [(ngModel)]="val" name="tipoDato" (change)="onChange($event)">
  <option *ngFor="let dt of data" [value]="dt.val">{{ dt.option }}</option>
</select>