<div class="container-fluid">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="text-center">
              <h1 class="text-center m-0 d-block">Eventos</h1>
              <button type="button" class="btn btn-outline-add mt-2 d-xl-none" (click)="addEvento()"><i class="fas fa-plus-square"></i></button>
              <button type="button" class="btn btn-outline-add mx-3 mt-2 d-xl-none" *ngIf="util.containsOption('eventos.reporteTotales.column.contratado')" data-toggle="modal" data-target="#modalReporte"><i class="fas fa-chart-bar"></i></button>
              <button type="button" class="btn btn-outline-add mt-2 d-xl-none" data-toggle="modal" data-target="#modalSearch"><i class="fas fa-search"></i></button>
          </div>
      </div>
      <div class="col-12 col-sm-12 col-md-10 col-lg-12 col-xl-12 d-none d-lg-block">
          <div class="form-row align-items-end _content-search">
              <div class="col-sm-auto my-1 d-none d-xl-block text-center">
                  <button type="button" class="btn btn-outline-add p-lg-2" (click)="addEvento()"><i class="fas fa-plus-square"></i> Evento</button>
                  <button type="button" *ngIf="util.containsOption('eventos.reporteTotales.column.contratado')" class="btn btn-outline-add p-lg-2 ml-2" (click)="openReport()"><i class="fas fa-chart-bar"></i> Reportes</button>
                  <button type="button" (click)="exportExcel()" class="btn btn-outline-add p-lg-2 mx-2"><i class="fas fa-file-excel"></i> Excel</button>
                  <button type="button" class="btn btn-outline-add p-lg-2" (click)="search()"><i class="fas fa-search"></i> Buscar</button>
              </div>
              <ng-container *ngTemplateOutlet="templateBuscador"></ng-container>
          </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 z-index-1">
          <div class="table-responsive table-resp mt-sm-3 mt-md-0">
              <table mat-table [dataSource]="arrayEventos" matSort #empTbSortPr="matSort" class="w-100">

                  <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Id"> Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombreEstado">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Estado"> Estado </th>
                      <td mat-cell *matCellDef="let element"> {{element.nombreEstado}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Nombre </th>
                      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombreContrato">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Contrato</th>
                    <td mat-cell *matCellDef="let element"> {{element.nombreContrato}} </td>
                </ng-container>

                  <ng-container matColumnDef="cdp">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> CDP </th>
                      <td mat-cell *matCellDef="let element"> {{element.cdp}} </td>
                  </ng-container>

                  <ng-container matColumnDef="orden">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Orden </th>
                      <td mat-cell *matCellDef="let element"> {{element.orden}} </td>
                  </ng-container>

                  <ng-container matColumnDef="fechaInicioEvento">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
                      <td mat-cell *matCellDef="let element"> {{element.fechaInicioEvento | date: 'dd-MM-yyyy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="dias">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias </th>
                      <td mat-cell *matCellDef="let element"> {{element.dias}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombreTipoEvento">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Evento </th>
                      <td mat-cell *matCellDef="let element"> {{element.nombreTipoEvento}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombreMunicipio">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
                      <td mat-cell *matCellDef="let element"> {{element.nombreMunicipio}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nroAsistentes">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Asistentes </th>
                      <td mat-cell *matCellDef="let element"> {{element.nroAsistentes}} </td>
                  </ng-container>

                  <ng-container matColumnDef="accion">
                      <th mat-header-cell *matHeaderCellDef> Acción </th>
                      <td mat-cell *matCellDef="let element" class="btn-actions">
                          <button type="button" class="btn btn-outline-edit" (click)="open(element.id); _disabled = false;"><i class="fas fa-pen-fancy"></i></button>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="showColsEvento; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: showColsEvento;"></tr>
              </table>
              <!-- <mat-paginator [pageSize]="12" showFirstLastButtons></mat-paginator> -->
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modalReporte" *ngIf="arrayEventos.data.length > 0" tabindex="-1" role="dialog" aria-labelledby="labelModalReporte" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="labelModalReporte"><i class="fas fa-archive"></i><span> Reporte</span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="openReporteBuscador = false">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div>
                <p class="mb-2 mx-3 d-inline"><span>Total Contratado:</span> $ {{util.miles(sumatoriasDetail.totalContratado)}}</p>
                <p class="mb-2 mr-3 d-inline"><span>Total Ejecutado:</span> $ {{util.miles(sumatoriasDetail.totalEjecutado)}}</p>
                <p class="mb-2 mr-3 d-inline"><span>Total Facturado:</span> $ {{util.miles(sumatoriasDetail.totalFacturado)}}</p>
                <p class="mb-2 mr-3 d-inline"><span>Total Cotizaciones:</span> $ {{util.miles(sumatoriasDetail.totalProveedores)}}</p>
                <p class="mb-2 d-inline"><span>Total Gastos:</span> $ {{util.miles(sumatoriasDetail.totalGastos)}}</p>
                <p class="mb-2 mr-3 d-inline float-right"><span>Cantidad Registros:</span> {{arrayEventos.data.length}} </p>
            </div>
              <div class="container-fluid">
                  <div class="row w-100">
                      <div class="col-12 mt-1">
                          <div class="d-flex justify-content-between">
                            <section class="d-flex">
                              <button type="button" class="btn text-white btn-outline-add mr-2" (click)="agrupar('estado','')">Estado</button>
                              <div class="btn-group dropright">
                                  <button type="button" class="btn btn-outline-add mr-2 text-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Ejecutados
                                  </button>
                                  <div class="dropdown-menu">
                                      <a class="dropdown-item" (click)="agrupar('departamento','EJECUTADO')">Departamento</a>
                                      <a class="dropdown-item" (click)="agrupar('municipio','EJECUTADO')">Municipio</a>
                                      <a class="dropdown-item" (click)="agrupar('vereda','EJECUTADO')">Vereda</a>
                                      <a class="dropdown-item" (click)="agrupar('resguardo','EJECUTADO')">Resguardo</a>
                                      <a class="dropdown-item" (click)="agrupar('comunidad','EJECUTADO')">Comunidad</a>
                                      <a class="dropdown-item" (click)="agrupar('kumpania','EJECUTADO')">Kumpania</a>
                                  </div>
                              </div>
                              <div class="btn-group dropright">
                                  <button type="button" class="btn btn-outline-add mr-2 text-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Programados
                                  </button>
                                  <div class="dropdown-menu">
                                      <a class="dropdown-item" (click)="agrupar('departamento','PROGRAMADO')">Departamento</a>
                                      <a class="dropdown-item" (click)="agrupar('municipio','PROGRAMADO')">Municipio</a>
                                      <a class="dropdown-item" (click)="agrupar('vereda','PROGRAMADO')">Vereda</a>
                                      <a class="dropdown-item" (click)="agrupar('resguardo','PROGRAMADO')">Resguardo</a>
                                      <a class="dropdown-item" (click)="agrupar('comunidad','PROGRAMADO')">Comunidad</a>
                                      <a class="dropdown-item" (click)="agrupar('kumpania','PROGRAMADO')">Kumpania</a>
                                  </div>
                              </div>
                              <div class="btn-group dropright">
                                  <button type="button" class="btn btn-outline-add mr-2 text-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Costos
                                  </button>
                                  <div class="dropdown-menu">
                                      <a class="dropdown-item" (click)="agrupar('departamento','')">Departamento</a>
                                      <a class="dropdown-item" (click)="agrupar('municipio','')">Municipio</a>
                                      <a class="dropdown-item" (click)="agrupar('vereda','')">Vereda</a>
                                      <a class="dropdown-item" (click)="agrupar('resguardo','')">Resguardo</a>
                                      <a class="dropdown-item" (click)="agrupar('comunidad','')">Comunidad</a>
                                      <a class="dropdown-item" (click)="agrupar('kumpania','')">Kumpania</a>
                                  </div>
                              </div>
                              <button type="button" class="btn text-white btn-outline-add" (click)="agrupar('dependencia','')">Dependencia</button>
                              <button type="button" class="btn text-white btn-outline-add ml-2" (click)="agrupar('coordinador','')">Coordinador</button>
                            </section>
                            <!-- <section class="d-flex align-items-end">
                              <p class="m-0">Cantidad Registros: {{ arrayEventos.data.length }}</p>
                            </section> -->
                          </div>
                      </div>
                      <div class="col-12 col sm-12 col-md-12 col-lg-12 col-xl-12 z-index-1 mt-2">
                        <ng-container *ngTemplateOutlet="templateTableReport; context:{dataTable: arrayReports}"></ng-container>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modalAgrupador" tabindex="-1" role="dialog" aria-labelledby="labelModalEvento" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="labelModalEvento"><i class="fas fa-file-contract"></i> <span> Por:</span> {{agrupador}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12 col-sm-6 p-0">
                          <div class="table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th>{{agrupador}}</th>
                                          <th>Cantidad</th>
                                          <th scope="col">Contratado</th>
                                          <th scope="col">Ejecutado</th>
                                          <th scope="col">Facturado</th>
                                          <th scope="col">Cotizaciones</th>
                                          <th scope="col">Gastos</th>
                                          <th scope="col">Acción</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let it of arrAgrupados">
                                          <td scope="row">{{it.clave}}</td>
                                          <td>{{it.cantidad}}</td>
                                          <td class="text-right">$ {{it.totalContratado | number}}</td>
                                          <td class="text-right">$ {{it.totalEjecutado | number}}</td>
                                          <td class="text-right">$ {{it.totalFacturado | number}}</td>
                                          <td class="text-right">$ {{it.totalProveedores | number}}</td>
                                          <td class="text-right">$ {{it.totalGastos | number}}</td>
                                          <td>
                                            <button type="button" class="btn btn-outline-edit" (click)="showDetail(it.clave)">Ver Detalle</button>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <div class="col-12 col-sm-6 p-0">
                          <div id="chartContainer"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modalSearch" [ngClass]="openReporteBuscador ? 'z-index-1': ''" tabindex="-1" role="dialog" aria-labelledby="labelModalSearch" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="labelModalSearch"><i class="fas fa-search"></i><span> Buscar</span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                  <div class="row">
                      <ng-container *ngTemplateOutlet="templateBuscador"></ng-container>
                      <div class="col-12 col-sm-3 col-md-6 my-1 d-flex justify-content-center align-items-end">
                          <button type="button" class="btn btn-outline-add" (click)="search()"><i class="fas fa-search"></i> Buscar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="labelModalDetail" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="labelModalDetail"><i class="fas fa-archive"></i><span> Detalle</span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div>
              <p class="mb-2 mr-3 d-inline"><span>Total Contratado:</span> $ {{util.miles(sumatoriasDetail.totalContratado)}}</p>
              <p class="mb-2 mr-3 d-inline"><span>Total Ejecutado:</span> $ {{util.miles(sumatoriasDetail.totalEjecutado)}}</p>
              <p class="mb-2 mr-3 d-inline"><span>Total Facturado:</span> $ {{util.miles(sumatoriasDetail.totalFacturado)}}</p>
              <p class="mb-2 mr-3 d-inline"><span>Total Cotizaciones:</span> $ {{util.miles(sumatoriasDetail.totalProveedores)}}</p>
              <p class="mb-2 d-inline"><span>Total Gastos:</span> $ {{util.miles(sumatoriasDetail.totalGastos)}}</p>
              <p class="mb-2 d-inline float-right"><span>Cantidad Registros:</span> {{arrayFilterEventos.data.length}} </p>
            </div>
            <ng-container *ngTemplateOutlet="templateTableReport; context:{dataTable: arrayFilterEventos}"></ng-container>
          </div>
      </div>
  </div>
</div>

<ng-template #templateBuscador>
  <div class="col-12 col-sm-2 col-md-6 col-lg-2 col-xl-1 my-1">
      <label for="formId">Id</label>
      <input type="number" [(ngModel)]="searchI.idEvento" name="idEve" class="form-control" id="formId" placeholder="Id...">
  </div>
  <div class="col-12 col-sm-5 col-md-6 col-lg-3 col-xl-2 my-1">
      <label for="formContrato">Contrato</label>
      <select id="formContrato" [(ngModel)]="searchI.idContrato" name="idContratoS" class="form-control">
          <option value="0">Seleccione una opción</option>
          <option *ngFor="let it of dataContratos" value="{{it.contratoId}}">{{it.nombre+' - '+it.numero}}</option>
      </select>
  </div>
  <div class="col-12 col-sm-4 col-md-6 col-lg-2 col-xl-2 my-1">
      <label for="formFechaInicio">Fecha Inicio</label>
      <input type="date" [(ngModel)]="searchI.fechaInicio" name="fechaInicioS" id="formFechaInicios" class="form-control">
  </div>
  <div class="col-12 col-sm-4 col-md-6 col-lg-2 col-xl-2 my-1">
      <label for="formFechaFin">Fecha Fin</label>
      <input type="date" [(ngModel)]="searchI.fechaFin" name="fechaFinS" id="formFechaFins"  class="form-control">
  </div>
  <div class="col-12 col-sm-4 col-md-6 col-lg-3 col-xl-2 my-1">
      <label for="formEstado">Estado</label>
      <select-general tipoDato="estados" [(ngModel)]="searchI.idEstado" name="searchEstado" [_read]="_disabled" ngDefaultControl></select-general>
  </div>
</ng-template>

<ng-template #templateTableReport let-dataTable="dataTable">
  <table mat-table [dataSource]="dataTable" matSort #empTbSort="matSort" class="w-100">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombreContrato">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contrato </th>
      <td mat-cell *matCellDef="let element" class="text-left"> {{element.nombreContrato}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element" class="text-left"> {{element.nombre}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Municipio Column -->
    <ng-container matColumnDef="nombreMunicipio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
      <td mat-cell *matCellDef="let element" class="text-left"> {{element.nombreMunicipio}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Inicio Column -->
    <ng-container matColumnDef="fechaInicioEvento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
      <td mat-cell *matCellDef="let element" class="text-left"> {{element.fechaInicioEvento | date: 'yyyy-MM-dd'}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- CDP Column -->
    <ng-container matColumnDef="cdp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CDP </th>
        <td mat-cell *matCellDef="let element"> {{element.cdp}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Asistentes Column -->
    <ng-container matColumnDef="nroAsistentes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Asistentes </th>
      <td mat-cell *matCellDef="let element"> {{element.nroAsistentes}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Asistentes Column -->
    <ng-container matColumnDef="responsableActual">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable Actual </th>
      <td mat-cell *matCellDef="let element" class="text-left"> {{element.responsableActual}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Asistentes Column -->
    <ng-container matColumnDef="nombreEstado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let element" class="text-left"> {{element.nombreEstado}} </td>
      <td mat-footer-cell *matFooterCellDef>TOTAL</td>
    </ng-container>

    <!-- Total Contratado Column -->
    <ng-container matColumnDef="totalContratado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contratado </th>
      <td mat-cell *matCellDef="let element" class="text-right"> $ {{ util.miles(element.totalContratado) }} </td>
      <td mat-footer-cell *matFooterCellDef class="text-right"> $ {{ util.miles(sumatoriasDetail.totalContratado) }} </td>
    </ng-container>

    <!-- Total Ejecutado Column -->
    <ng-container matColumnDef="totalEjecutado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ejecutado </th>
      <td mat-cell *matCellDef="let element" class="text-right"> $ {{ util.miles(element.totalEjecutado)}} </td>
      <td mat-footer-cell *matFooterCellDef class="text-right"> $ {{ util.miles(sumatoriasDetail.totalEjecutado) }} </td>
    </ng-container>

    <!-- Total Facturado Column -->
    <ng-container matColumnDef="totalFacturado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Facturado </th>
      <td mat-cell *matCellDef="let element" class="text-right"> $ {{ util.miles(element.totalFacturado)}} </td>
      <td mat-footer-cell *matFooterCellDef class="text-right"> $ {{ util.miles(sumatoriasDetail.totalFacturado) }} </td>
    </ng-container>

    <!-- Total Facturado Column -->
    <ng-container matColumnDef="totalProveedores">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cotizaciones </th>
      <td mat-cell *matCellDef="let element" class="text-right"> $ {{ util.miles(element.totalProveedores)}} </td>
      <td mat-footer-cell *matFooterCellDef class="text-right"> $ {{ util.miles(sumatoriasDetail.totalProveedores) }} </td>
    </ng-container>

    <!-- Total Gastos Column -->
    <ng-container matColumnDef="totalGastos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gastos </th>
      <td mat-cell *matCellDef="let element" class="text-right"> $ {{ util.miles(element.totalGastos)}} </td>
      <td mat-footer-cell *matFooterCellDef class="text-right"> $ {{ util.miles(sumatoriasDetail.totalGastos) }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="showColsReporte;"></tr>
    <tr mat-row *matRowDef="let row; columns: showColsReporte;"></tr>
    <tr mat-footer-row class="sticky-footer" *matFooterRowDef="['id', 'nombreContrato', 'nombre', 'nombreMunicipio', 'fechaInicioEvento', 'cdp', 'nroAsistentes', 'responsableActual', 'nombreEstado', 'totalContratado', 'totalEjecutado', 'totalFacturado', 'totalProveedores', 'totalGastos']"></tr>
  </table>

</ng-template>

<app-evento-template #eventoTempModal (refresh)="search()"></app-evento-template>
