@import "../models/_variables";

.table-resp {
    @include respond-to($phone) {
        height: 75vh !important;
    }
    @include respond-to($phone-landscape) {
        height: 73vh;
    }
}

button,
input,
select,
label {
    font-size: .8rem !important;
}

table {
    width: 100%;
    // th,td {
    //     padding: 0 5px;
    // }
}

#modalAgrupador {
  .modal-body {
    height: unset !important;
    table {
      th {
        text-transform: capitalize;
        padding: .25rem !important;
      }
      td {
        padding: .25rem !important;
      }
    }
  }
}

#modalDetail,
#modalReporte {
  .modal-dialog {
    max-width: 95vw !important;
    .modal-body {
        overflow: auto;
        p {
          font-family: 'oswald-regular' !important;
          font-size: .8rem;
          color: $color-dark;
          span {
            font-family: $font-family-b !important;
          }
        }
        table {
          thead {
            tr {
              th {
                button {
                  white-space: nowrap !important;
                }
              }
            }
          }
        }
    }
  }
}

// #modalViewPayments {
//         max-width: 500px !important;
//     }
//     .modal-body {
//         height: 250px !important;
//     }
// }

.close {
  font-size: 1.2rem !important;
}

.modal-dialog {
    max-width: 80vw !important;
    .modal-header {
        #labelModalEvento {
            i,span {
                color: #0d3f67;
            }
        }
    }
    // .body-collapse {
    //     label {
    //         color: #0d3f67;
    //         font-family: 'oswald-bold' !important;
    //     }
    //     p {
    //         span:first-child {
    //             color: #0d3f67;
    //             font-family: 'oswald-bold' !important;
    //         }
    //     }
    // }
    .modal-body {
        .dropdown-menu {
            cursor: pointer;
        }
        height: 80vh;
        @include respond-to($phone) {
            height: 76vh;
            padding-top: 0;
        }
        @include respond-to($phone-landscape) {
            height: 65vh;
            padding-top: 0;
        }
        // overflow-y: auto;
        // button {
        //     padding: 0.275rem 0.45rem;
        // }
        // .btn-tab {
        //     &:focus{box-shadow: unset;}
        //     &:active {transform: scale(0.7);}
        // }
        // #pills-tabContent {
        //     height: 70vh;
        //     overflow-y: auto;
        //     @include respond-to($phone) {
        //         height: 61vh;
        //     }
        //     @include respond-to($phone-landscape) {
        //         height: 43vh;
        //     }
        //     #nav-tarifa {
        //         #g-presupuesto {
        //             width: 20%;
        //             @include respond-to($phone) {
        //                 margin-top: 8px;
        //                 width: 85% !important;
        //             }
        //         }
        //     }
        //     #nav-cotizaciones,
        //     #nav-anticipos {
        //         table {
        //             button {
        //                 font-size: 0.7rem;
        //             }
        //         }
        //     }
        // }
        // .nav {
        //     a {
        //         white-space: nowrap;
        //     }
        // }
        .modal-title,
        button,
        h4,
        .color-titile,
        a {
            text-decoration: none;
            color: #0d3f67;
            font-family: 'oswald-bold' !important;
        }
        // ._content-header {
        //     font-family: 'oswald-light';
        //     label,
        //     span:first-child {
        //         font-family: 'oswald-bold';
        //         color: #0d3f67;
        //     }
        // }
        // .table-modal {
        //     button {
        //         padding: 0.075rem 0.35rem;
        //     }
        // }
        // .table-cotizacion {
        //     button {
        //         font-size: 0.7rem;
        //     }
        // }
        table {
            button {
                padding: 0.075rem 0.35rem;
            }
            td {
                input {
                    width: 50px;
                    height: 30px;
                }
            }
        }
        // .table-repo {
        //     height: 75vh;
        // }
        // form {
        //     &.form-fac-1 {
        //         input {
        //             height: 30px;
        //         }
        //     }
        // }
        // #nav-facturacion {
        //     table {
        //         button {
        //             font-size: 0.8rem;
        //         }
        //     }
        // }
        // @include respond-to($screen-md-max) {
        //     height: 70vh;
        // }
        // @include respond-to($phone) {
        //     height: 70vh;
        // }
    }
    @include respond-to($phone) {
        max-width: 100vw !important;
    }
    @include respond-to($phone-landscape) {
        max-width: 95% !important;
    }
}

// .input-valor {
//     width: 80px !important;
//     padding: 0.375rem 0;
// }

// .nav-pills .nav-link.active {
//     color: #fff !important;
//     background-color: #0d3f67;
// }

// .select-estado-modal {
//     // select {
//         padding: 0.075rem 0.35rem !important;
//         height: unset !important;
//     // }
// }

.table-resp {
    height: 80vh;
    button {
        padding: 0.075rem 0.35rem;
    }
    .btn-actions {
        white-space: nowrap;
    }
}

// .icon-fa-plus {
//     left: 18px;
//     top: 18px;
//     font-size: 0.7rem;
//     color: #3c3c3c;
// }

// #modalCalTarEvento {
//     .modal-body {
//         height: min-content !important;
//     }
// }

// #modalCotizacion {
//     .modal-body {
//         overflow-y: auto;
//         .content-table-cot {
//             height: 61vh;
//             overflow-y: auto;
//         }
//     }
// }

// #modalAddLegalizacion {
//     .modal-dialog {
//         max-width: 40vw !important;
//         .modal-body {
//             overflow: auto;
//             height: 55vh;
//         }
//     }
// }

// #modalBuyDocuContable {
//     .modal-dialog {
//         max-width: 45vw !important;
//         .modal-body {
//             overflow: auto;
//             height: 55vh;
//             table {
//                 button {
//                     font-size: 0.8rem;
//                 }
//             }
//         }
//     }
// }

// #modalTiquete {
//     .modal-dialog {
//         max-width: 60vw !important;
//         .modal-body {
//             overflow-y: auto;
//             height: 55vh;
//         }
//     }
// }

#chartContainer {
    overflow: auto;
    height: 410px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

// .btn-outline-info {
//     color: #17a2b8 !important;
// }

// .btn-outline-info:hover {
//     color: #fff !important;
// }

// .btn-outline-danger {
//     color: #dc3545 !important;
//     &:hover {
//         color: #fff !important;
//     }
// }
