@import "../models/_variables";

.custom-check input {
    position: relative;
    left: -10px;
    z-index: 1;
}

#nav-tabContent {
    height: 50vh;
    overflow-y: auto;
}

.content-data {
    padding-top: 1%;
}

// .modal-title,
// .modal-body button,
// .modal-body a {
//     text-decoration: none;
//     color: #0d3f67;
//     font-family: 'oswald-bold';
//     font-size: .8rem !important;
// }

// textarea,
// input::-webkit-placeholder,
// input::placeholder,
// .btn-add-provider,
// select,
// input,
// legend,
// label {
//     font-family: 'oswald-regular';
// }

input[type=check],
select {
    cursor: pointer;
}

.label-required span {
    color: #af0404;
}

.table-modal button {
    padding: 0.075rem 0.35rem;
}

.btn-outline-edit {
    margin: 0 2%;
}

table {
    width: 100%;
    th,td {
        white-space: nowrap;
    }
}

.document-dropzone {
    height: 120px;
    border: 2px dashed #0d3f67;
    border-radius: 5px;
    &.ngx-dz-hovered {
        border: 2px dashed #061c2e;
    }
    h3 {
        color: #0d3f67;
    }
    ngx-dropzone-preview {
        min-height: 90px !important;
        min-width: 90px !important;
        width: 90px !important;
        height: 90px !important;
        ngx-dropzone-label {
            font-size: 0.8rem;
            color: #000;
            opacity: 0.4;
        }
    }
}

.modal-dialog {
    max-width: 80vw !important;
    .modal-body {
        button:not(.btn-link) {
            margin-left: 3%;
        }
    }
    .tab-content {
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: #ced4da;
        }
        &::-webkit-scrollbar-thumb {
            background: #0d3f67;
        }
    }
    @include respond-to($phone) {
        max-width: 100vw !important;
    }
    @include respond-to($phone-landscape) {
        max-width: 95% !important;
    }
}
