<div class="modal fade" id="modalProvider" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="labelModalProveedor"><i class="fas fa-user"></i> Agregar Proveedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-data-general" role="tab"
              aria-controls="nav-home" aria-selected="true">Datos Generales</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-information" role="tab"
              aria-controls="nav-profile" aria-selected="false">Información Fiscal</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
              aria-selected="false">Contactos</a>
            <!--a class="nav-item nav-link" data-toggle="tab" href="#nav-prov-type" role="tab"
              aria-controls="nav-prov-type" aria-selected="false">Tipo Proveedor</a-->
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-bank-account" role="tab" aria-controls="nav-bank"
              aria-selected="false">Cuentas Bancarias</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-branch-office" role="tab"
              aria-controls="nav-branch" aria-selected="false">Sucursales</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-concept-rates" role="tab"
              aria-controls="nav-concept-rates" aria-selected="false">Conceptos y Tarifas</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-documents" role="tab"
              aria-controls="nav-doucments" aria-selected="false">Documentos</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <!------------------------- Datos Generales ------------------------->
          <div class="tab-pane fade show active" id="nav-data-general" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                  <form>
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-4 col-form-label">Tipo Identificación</label>
                          <div class="col-sm-8">
                            <select-general tipoDato="tipoIdentificacion" [(ngModel)]="proveedor.tipoIdentificacion"
                              [(_val)]="proveedor.tipoIdentificacion" name="tipoIdentificacion"
                              ngDefaultControl></select-general>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-4 col-form-label">Nombre(s)</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="proveedor.nombre" class="form-control" id="nombre"
                              name="nombre" placeholder="Ingresa el nombre...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-4 col-form-label">Razón Social</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="proveedor.razonSocial" class="form-control"
                              id="razon-social" name="razonSocial" placeholder="Ingresa una razón social...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputNameComer" class="col-sm-4 col-form-label">Nombre Comercial</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="proveedor.nombreComercial" class="form-control"
                              id="inputNameComer" name="inputNameComer" placeholder="Ingresa un nombre comercial...">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-4 col-form-label">Identificación</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="proveedor.identificacion" class="form-control"
                              id="identificacion" name="identificacion" placeholder="Ingresa una identificación...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-4 col-form-label">Apellidos</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="proveedor.apellidos" class="form-control" id="apellido"
                              name="apellidos" placeholder="Ingresa un apellido...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-4 col-form-label">Email</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="proveedor.email" class="form-control" id="email"
                              name="email" placeholder="Ingresa un email...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputTipoProveedor" class="col-sm-4 col-form-label">Tipo de proveedor</label>
                          <div class="col-sm-8">
                            <select-general tipoDato="tipoProveedor" [(ngModel)]="proveedor.tipoProveedor_id"
                              [(_val)]="typeProvSelected" estado="A" name="tipoProveedor_id"
                              ngDefaultControl></select-general>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div id="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-caret-right"></i> Datos Adicionales
                          </button>
                        </h5>
                      </div>

                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                          <form>
                            <div class="row">
                              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group row">
                                  <label for="departamentoContacto"
                                    class="col-sm-3 col-form-label label-required">Departamento <span>*</span></label>
                                  <div class="col-sm-9">
                                    <select-general tipoDato="departamento" picklistId="departamento"
                                      [(_val)]="departamentoDtsGen"
                                      (change)="changeSelectGeneral($event.target.value, 'datosGenerales')"
                                      ngDefaultControl></select-general>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="inputPassword" class="col-sm-3 col-form-label">Teléfono</label>
                                  <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="proveedor.telefono" class="form-control"
                                      id="telefono" name="telefono" placeholder="Ingresa un teléfono...">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="inputPassword" class="col-sm-3 col-form-label">Dirección</label>
                                  <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="proveedor.direccion" class="form-control"
                                      id="direccion" name="direccion" placeholder="Ingresa una dirección...">
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group row">
                                  <label for="inputPassword" class="col-sm-3 col-form-label label-required">Municipio
                                    <span>*</span></label>
                                  <div class="col-sm-9">
                                    <select-general #municipioGenComponent picklistPadre="{{departamentoDg}}"
                                      [(_val)]="proveedor.municipio_id" tipoDato="municipio"
                                      (valueObjChange)="proveedor.municipio = $event"
                                      [(ngModel)]="proveedor.municipio_id" name="municipioGen_id"
                                      ngDefaultControl></select-general>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="inputPassword" class="col-sm-3 col-form-label">Celular</label>
                                  <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="proveedor.celular" class="form-control" id="celular"
                                      name="celular" placeholder="Ingresa un celular...">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="custom-control custom-checkbox custom-check">
                                    <input type="checkbox" [(ngModel)]="proveedor.apoyoLogistico"
                                      class="custom-control-input" id="checkApoyo" name="apoyoLogistico">
                                    <label class="custom-control-label" for="customCheck1">Es Apoyo Logistico</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <fieldset>
                    <legend>Datos especificos de proveedores</legend>
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label label-required">Tipo de proveedor <span>*</span></label>
                      <div class="col-sm-5">
                        <select-general tipoDato="tipoProveedor" [(ngModel)]="proveedor.tipoProveedor_id" [(_val)]="proveedor.tipoProveedor_id" estado="A" name="tipoProveedor_id" ngDefaultControl></select-general>
                      </div>
                    </div>
                  </fieldset> -->
                </div>
              </div>
            </div>
          </div>
          <!------------------------- Informacion Fiscal ------------------------->
          <div class="tab-pane fade" id="nav-information" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="container-fluid">
              <div class="row justify-content-md-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 content-data">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="custom-control custom-checkbox custom-check">
                        <input type="checkbox" [(ngModel)]="proveedor.granContribuyente" class="custom-control-input"
                          id="checkContribuyente" name="granContribuyente">
                        <label class="custom-control-label" for="GranContribuyente">Gran Contribuyente</label>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="custom-control custom-checkbox custom-check">
                        <input type="checkbox" [(ngModel)]="proveedor.regimenComun" class="custom-control-input"
                          id="regimenComun" name="regimenComun">
                        <label class="custom-control-label" for="regimenComun">Régimen Común</label>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="custom-control custom-checkbox custom-check">
                        <input type="checkbox" [(ngModel)]="proveedor.regimenEspecial" class="custom-control-input"
                          id="regimenEspecial" name="regimenEspecial">
                        <label class="custom-control-label" for="regimenEspecial">Régimen Especial</label>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="custom-control custom-checkbox custom-check">
                        <input type="checkbox" [(ngModel)]="proveedor.regimenSimplificado" class="custom-control-input"
                          id="regimenSimplificado" name="regimenSimplificado">
                        <label class="custom-control-label" for="regimenSimplificado">Régimen Simplificado</label>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="custom-control custom-checkbox custom-check">
                        <input type="checkbox" [(ngModel)]="proveedor.autoRetenedorRenta" class="custom-control-input"
                          id="autoRetenedorRenta" name="autoRetenedorRenta">
                        <label class="custom-control-label" for="autoRetenedorRenta">Auto Retenedor de Renta</label>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div>
                        <div class="custom-control custom-checkbox custom-check">
                          <input type="checkbox" [(ngModel)]="proveedor.autoRetenedorIVA" class="custom-control-input"
                            id="autoRetenedorIVA" name="autoRetenedorIVA">
                          <label class="custom-control-label" for="autoRetenedorIVA">Auto Retenedor de IVA</label>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="custom-control custom-checkbox custom-check">
                        <input type="checkbox" [(ngModel)]="proveedor.autoRetenedorICA" class="custom-control-input"
                          id="autoRetenedorICA" name="autoRetenedorICA">
                        <label class="custom-control-label" for="autoRetenedorICA">Auto Retenedor de ICA</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!------------------------- Contactos ------------------------->
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="container-fluid">
              <div class="row justify-content-md-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                  <form>
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="tipoContacto" class="col-sm-4 col-form-label label-required">Tipo Contacto
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <select-general tipoDato="tipoContacto" [(ngModel)]="contacto.tipoContacto_id"
                              [(_val)]="contacto.tipoContacto_id" (valueObjChange)="contacto.tipoContacto = $event"
                              name="tipoContacto_id" ngDefaultControl></select-general>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="departamentoContacto" class="col-sm-4 col-form-label label-required">Departamento
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <select-general tipoDato="departamento" picklistId="departamento"
                              [(_val)]="departamentoContacto"
                              (change)="changeSelectGeneral($event.target.value, 'contacto')"
                              ngDefaultControl></select-general>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="direccionContacto" class="col-sm-4 col-form-label">Dirección</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="contacto.direccion" class="form-control"
                              id="direccionContacto" name="direccion" placeholder="Ingresa una dirección...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="telefonoContacto" class="col-sm-4 col-form-label label-required">Teléfono</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="contacto.telefono" class="form-control"
                              id="telefonoContacto" name="telefono" placeholder="Ingresa un teléfono...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="emailContacto" class="col-sm-4 col-form-label">Email</label>
                          <div class="col-sm-8">
                            <input type="email" [(ngModel)]="contacto.email" class="form-control" id="emailContacto"
                              name="email" placeholder="Ingresa un email...">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="nombreContacto" class="col-sm-4 col-form-label">Nombre</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="contacto.nombre" class="form-control" id="nombreContacto"
                              name="nombre" placeholder="Ingresa un nombre...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="municipioContacto" class="col-sm-4 col-form-label label-required">Municipio
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <select-general #municipioComponent picklistPadre="{{departamento}}"
                              [(_val)]="contacto.municipio_id" tipoDato="municipio"
                              (valueObjChange)="contacto.municipio = $event" [(ngModel)]="contacto.municipio_id"
                              name="municipio_id" ngDefaultControl></select-general>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="faxContacto" class="col-sm-4 col-form-label">Fax</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="contacto.fax" class="form-control" id="faxContacto"
                              name="fax" placeholder="Ingresa un fax...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="celularContacto" class="col-sm-4 col-form-label">Celular</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="contacto.celular" class="form-control" id="celularContacto"
                              name="celular" placeholder="Ingresa un celular...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <button type="button" class="btn btn-outline-add" (click)="add('contacto')"><i
                              class="fas fa-plus"></i> Agregar</button>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-12">
                        <div class="table-responsive table-modal">
                          <table mat-table [dataSource]="arrayContactos" matSort class="mat-elevation-z8">

                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>

                            <!-- Tipo Contacto Column -->
                            <ng-container matColumnDef="tipoContacto">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Contacto </th>
                              <td mat-cell *matCellDef="let element"> {{(element.tipoContacto != null) ?
                                element.tipoContacto.nombre : ''}} </td>
                            </ng-container>

                            <!-- Municipio Column -->
                            <ng-container matColumnDef="municipio">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
                              <td mat-cell *matCellDef="let element"> {{(element.municipio != null) ?
                                element.municipio.nombre : ''}} </td>
                            </ng-container>

                            <!-- Nombre Column -->
                            <ng-container matColumnDef="nombre">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>

                            <!-- Dirección Column -->
                            <ng-container matColumnDef="dirección">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                              <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
                            </ng-container>

                            <!-- Teléfono Column -->
                            <ng-container matColumnDef="telefono">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
                              <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                            </ng-container>

                            <!-- Fax Column -->
                            <ng-container matColumnDef="fax">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fax </th>
                              <td mat-cell *matCellDef="let element"> {{element.fax}} </td>
                            </ng-container>

                            <!-- Celular Column -->
                            <ng-container matColumnDef="celular">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
                              <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
                            </ng-container>

                            <!-- Email Column -->
                            <ng-container matColumnDef="email">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <!-- Buttons Actions Column -->
                            <ng-container matColumnDef="accion">
                              <th mat-header-cell *matHeaderCellDef> Acción </th>
                              <td mat-cell *matCellDef="let element">
                                <button type="button" class="btn btn-outline-edit"
                                  (click)="edit('contacto', element)"><i class="fas fa-pen-fancy"></i></button>
                                <button type="button" class="btn btn-outline-delete"
                                  (click)="delete('contacto', element)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="showColsContacto; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: showColsContacto;"></tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!------------------------- Tipos Proveedor ------------------------->
          <div class="tab-pane fade" id="nav-prov-type" role="tabpanel" aria-labelledby="nav-prov-type-tab">
            <div class="container-fluid">
              <div class="row justify-content-md-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 content-data">
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label label-required">Tipo de proveedor
                      <span>*</span></label>
                    <div class="col-sm-9">
                      <!--select-general tipoDato="tipoProveedor" [(ngModel)]="typeProvSelected" (valueObjChange)="addType($event)" [(_val)]="typeProvSelected" estado="A" name="tipoProveedor_id" ngDefaultControl></select-general-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data"
                  *ngIf="arrayTypesProv.data.length > 0">
                  <!-- <div class="table-responsive table-resp position-relative"> -->
                  <table mat-table [dataSource]="arrayTypesProv" matSort class="mat-elevation-z8">

                    <!-- Id Column -->
                    <ng-container matColumnDef="item">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Item. </th>
                      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Buttons Actions Column -->
                    <ng-container matColumnDef="accion">
                      <th mat-header-cell *matHeaderCellDef> Acción </th>
                      <td mat-cell *matCellDef="let element" class="white-space">
                        <button type="button" class="btn btn-outline-delete" (click)="delete('provTipo', element)"><i
                            class="fas fa-trash"></i></button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="showColsTypeProv; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: showColsTypeProv;"></tr>
                  </table>
                  <!-- <mat-paginator class="w-100" [pageSize]="12" showFirstLastButtons></mat-paginator> -->
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
          <!------------------------- Cuentas Bancarias ------------------------->
          <div class="tab-pane fade" id="nav-bank-account" role="tabpanel" aria-labelledby="nav-bank-tab">
            <div class="container-fluid">
              <div class="row justify-content-md-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                  <form>
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="bancoCuenta" class="col-sm-4 col-form-label label-required">Banco
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <select-general tipoDato="banco" [(ngModel)]="cuentaBancaria.banco_id"
                              [(_val)]="cuentaBancaria.banco_id" (valueObjChange)="cuentaBancaria.banco = $event"
                              name="banco" ngDefaultControl></select-general>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="cuenta" class="col-sm-4 col-form-label label-required">Cuenta
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="cuentaBancaria.cuenta" class="form-control" id="cuenta"
                              name="cuenta" placeholder="Ingresa una cuenta...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="nombreTitular" class="col-sm-4 col-form-label">Nombre Titular</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="cuentaBancaria.nombreTitular" class="form-control"
                              id="nombreTitular" name="nombreTitular" placeholder="Ingresa una dirección...">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="tipoCuenta" class="col-sm-4 col-form-label label-required">Tipo Cuenta
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <select class="form-control" [(ngModel)]="cuentaBancaria.tipoCuenta" name="tipoCuenta">
                              <option *ngFor="let dt of dataTipoCuenta" value="{{ dt.val }}">{{ dt.option }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="identificacionTitular" class="col-sm-4 col-form-label">Identificación
                            Titular</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="cuentaBancaria.titular" class="form-control"
                              id="identificacionCuenta" name="titular" placeholder="Ingresa una identificación...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <button type="button" class="btn btn-outline-add" (click)="add('cuentaBancaria')"><i
                              class="fas fa-plus"></i> Agregar</button>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-12">
                        <div class="table-responsive table-modal">
                          <table mat-table [dataSource]="arrayCuentaBancaria" matSort class="mat-elevation-z8">

                            <!-- Banco Column -->
                            <ng-container matColumnDef="banco">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Banco </th>
                              <td mat-cell *matCellDef="let ctaBanc"> {{(ctaBanc.banco != null) ? ctaBanc.banco.nombre :
                                ''}} </td>
                            </ng-container>

                            <!-- Tipo Cuenta Column -->
                            <ng-container matColumnDef="tipoCuenta">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Cuenta </th>
                              <td mat-cell *matCellDef="let ctaBanc"> {{ctaBanc.tipoCuenta}} </td>
                            </ng-container>

                            <!-- Cuenta Column -->
                            <ng-container matColumnDef="cuenta">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuenta </th>
                              <td mat-cell *matCellDef="let ctaBanc"> {{ctaBanc.cuenta}} </td>
                            </ng-container>

                            <!-- Nombre Titular Column -->
                            <ng-container matColumnDef="nombreTitular">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Titular </th>
                              <td mat-cell *matCellDef="let ctaBanc"> {{ctaBanc.nombreTitular}} </td>
                            </ng-container>

                            <!-- DNI Titular Column -->
                            <ng-container matColumnDef="dniTitular">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI Titular </th>
                              <td mat-cell *matCellDef="let ctaBanc"> {{ctaBanc.titular}} </td>
                            </ng-container>

                            <!-- Buttons Actions Column -->
                            <ng-container matColumnDef="accion">
                              <th mat-header-cell *matHeaderCellDef> Acción </th>
                              <td mat-cell *matCellDef="let ctaBanc">
                                <button type="button" class="btn btn-outline-edit"
                                  (click)="edit('cuentaBancaria', ctaBanc)"><i class="fas fa-pen-fancy"></i></button>
                                <button type="button" class="btn btn-outline-delete"
                                  (click)="delete('cuentaBancaria', ctaBanc)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="showColsProveedor; sticky: true"></tr>
                            <tr mat-row *matRowDef="let rowData; columns: showColsProveedor;"></tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!------------------------- Sucursales ------------------------->
          <div class="tab-pane fade" id="nav-branch-office" role="tabpanel" aria-labelledby="nav-branch-tab">
            <div class="container-fluid">
              <div class="row justify-content-md-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                  <form>
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="departamentoSucursal" class="col-sm-4 col-form-label label-required">Departamento
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <select-general tipoDato="departamento" picklistId="departamentoSucursal"
                              [(_val)]="departamentoSucursal"
                              (change)="changeSelectGeneral($event.target.value, 'sucursal')"
                              ngDefaultControl></select-general>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="cuenta" class="col-sm-4 col-form-label label-required">Nombre
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="sucursal.nombre" class="form-control" id="nombreSucursal"
                              name="nombre" placeholder="Ingresa un nombre...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="telefonoSucursal" class="col-sm-4 col-form-label">Teléfono</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="sucursal.telefono" class="form-control"
                              id="telefonoSucursal" name="telefonoSucursal" placeholder="Ingresa un teléfono...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="emailSucursal" class="col-sm-4 col-form-label">Email</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="sucursal.email" class="form-control" id="emailSucursal"
                              name="email" placeholder="Ingresa un email...">
                          </div>
                        </div>
                        <div class="form-group row d-none d-md-block">
                          <button type="button" class="btn btn-outline-add" (click)="add('sucursal')"><i
                              class="fas fa-plus"></i> Agregar</button>
                          <button type="button" class="btn btn-outline-add" (click)="add('principal')"><i
                              class="fas fa-sync-alt"></i> Cargar Principal</button>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="municipioSucursal" class="col-sm-4 col-form-label label-required">Municipio
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <select-general #municipioSucursal tipoDato="municipio" [(ngModel)]="sucursal.municipio_id"
                              [(_val)]="sucursal.municipio_id" name="municipioSucursal"
                              (valueObjChange)="sucursal.municipio = $event" ngDefaultControl></select-general>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="direccionSucursal" class="col-sm-4 col-form-label">Dirección</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="sucursal.direccion" class="form-control"
                              id="direccionSucursal" name="direccion" placeholder="Ingresa una dirección...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="faxSucursal" class="col-sm-4 col-form-label">Fax</label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="sucursal.fax" class="form-control" id="faxSucursal"
                              name="fax" placeholder="Ingresa un fax...">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="municipioSucursal" class="col-sm-4 col-form-label label-required">Cuenta Bancaria
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <select class="form-control" [(ngModel)]="sucursal.banco_id" name="banco_id">
                              <option *ngFor="let data of arrayCuentaEnSucursal" [value]="data.val">{{ data.option }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row d-block d-md-none">
                          <button type="button" class="btn btn-outline-add" (click)="add('sucursal')"><i
                              class="fas fa-plus"></i> Agregar</button>
                          <button type="button" class="btn btn-outline-add" (click)="add('principal')"><i
                              class="fas fa-sync-alt"></i> Cargar Principal</button>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-12">
                        <div class="table-responsive table-modal">
                          <table mat-table [dataSource]="arraySucursal" matSort class="mat-elevation-z8">

                            <!-- Municipio Column -->
                            <ng-container matColumnDef="municipio">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
                              <td mat-cell *matCellDef="let element"> {{(element.municipio != null) ?
                                element.municipio.nombre : ''}} </td>
                            </ng-container>

                            <!-- Sucursal Column -->
                            <ng-container matColumnDef="sucursal">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
                              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>

                            <!-- Dirección Column -->
                            <ng-container matColumnDef="direccion">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                              <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
                            </ng-container>

                            <!-- Teléfono Column -->
                            <ng-container matColumnDef="telefono">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
                              <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                            </ng-container>

                            <!-- Email Column -->
                            <ng-container matColumnDef="email">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <!-- Cuenta Bancaria Column -->
                            <ng-container matColumnDef="cuentaBancaria">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuenta Bancaria </th>
                              <td mat-cell *matCellDef="let element"> {{(element.cuentaBancaria != null) ?
                                element.cuentaBancaria.cuenta : ''}} </td>
                            </ng-container>

                            <!-- Buttons Actions Column -->
                            <ng-container matColumnDef="accion">
                              <th mat-header-cell *matHeaderCellDef> Acción </th>
                              <td mat-cell *matCellDef="let element">
                                <button type="button" class="btn btn-outline-edit"
                                  (click)="edit('sucursal', element)"><i class="fas fa-pen-fancy"></i></button>
                                <button type="button" class="btn btn-outline-delete"
                                  (click)="delete('sucursal', element)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="showColsSucursal; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: showColsSucursal;"></tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!------------------------- Conceptos y Tarifas ------------------------->
          <div class="tab-pane fade" id="nav-concept-rates" role="tabpanel" aria-labelledby="nav-concepts-tab">
            <div class="container-fluid">
              <div class="row justify-content-md-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                  <form>
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="departamentoSucursal" class="col-sm-4 col-form-label label-required">Sucursal
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <select class="form-control" [(ngModel)]="sucursalEnTarifa" name="sucursal"
                              (change)="assignSucursal($event)">
                              <option *ngFor="let data of arraySucursalEnTarifa" value="{{ data.val }}">{{ data.option
                                }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="cuenta" class="col-sm-4 col-form-label">Tipo Concepto</label>
                          <div class="col-sm-8">
                            <select-general tipoDato="tipoConcepto" picklistId="tipoConcepto"
                              [(ngModel)]="tipoConceptoTarifas" name="tipoConcepto" [(_val)]="tipoConceptoTarifas"
                              (valueObjChange)="objTempTipoConcepto = $event"
                              (click)="changeSelectGeneral($event.target.value, 'tarifa')"
                              ngDefaultControl></select-general>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="valorTarifa" class="col-sm-4 col-form-label label-required">Valor Tarifa
                            <span>*</span></label>
                          <div class="col-sm-8">
                            <input type="text" [(ngModel)]="tarifa.valor" class="form-control" id="valorTarifa"
                              (ngModelChange)="tarifa.valor = util.miles(tarifa.valor)"
                              (keydown)="util.validateOnlyNumbers($event)" name="valor"
                              placeholder="Ingresa una tarifa...">
                          </div>
                        </div>
                        <div class="form-group row d-none d-md-block">
                          <button type="button" class="btn btn-outline-add" (click)="add('tarifa')"><i
                              class="fas fa-plus"></i> Agregar</button>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="municipioSucursal" class="col-sm-4 col-form-label">Tipo Tarifa</label>
                          <div class="col-sm-8">
                            <select-general tipoDato="tipoTarifa" [(ngModel)]="tarifa.tipotarifa_id"
                              [(_val)]="tarifa.tipotarifa_id" (valueObjChange)="this.tarifa.tipoTarifa = $event"
                              name="tipotarifa_id" ngDefaultControl></select-general>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="concepto" class="col-sm-4 col-form-label">Concepto</label>
                          <div class="col-sm-8">
                            <select-general #tipoConceptoComponent tipoDato="concepto" [(ngModel)]="tarifa.concepto_id"
                              [(_val)]="tarifa.concepto_id" (valueObjChange)="this.tarifa.concepto = $event"
                              name="concepto" ngDefaultControl></select-general>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="descripcion" class="col-sm-4 col-form-label">Descripción</label>
                          <div class="col-sm-8">
                            <textarea [(ngModel)]="tarifa.descripcion" class="form-control" id="descripcionConcepto"
                              name="descripcion" rows="3" placeholder="Ingresa una descripción..."></textarea>
                          </div>
                        </div>
                        <div class="form-group row d-block d-md-none">
                          <button type="button" class="btn btn-outline-add" (click)="add('tarifa')"><i
                              class="fas fa-plus"></i> Agregar</button>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-12">
                        <div class="table-responsive table-modal">
                          <table mat-table [dataSource]="arrayTarifa" matSort class="mat-elevation-z8">

                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>

                            <!-- Municipio Column -->
                            <ng-container matColumnDef="municipio">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
                              <td mat-cell *matCellDef="let element"> {{(element.sucursal.municipio != null) ?
                                element.sucursal.municipio.nombre : ''}} </td>
                            </ng-container>

                            <!-- Nombre Column -->
                            <ng-container matColumnDef="nombre">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                              <td mat-cell *matCellDef="let element"> {{(element.sucursal != null) ?
                                element.sucursal.nombre : ''}} </td>
                            </ng-container>

                            <!-- Concepto Column -->
                            <ng-container matColumnDef="tipoTarifa">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Tarifa </th>
                              <td mat-cell *matCellDef="let element"> {{(element.tipoTarifa != null) ?
                                element.tipoTarifa.nombre : ''}} </td>
                            </ng-container>

                            <!-- Concepto Column -->
                            <ng-container matColumnDef="concepto">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Concepto </th>
                              <td mat-cell *matCellDef="let element"> {{(element.concepto != null) ?
                                element.concepto.nombre : ''}} </td>
                            </ng-container>

                            <!-- Concepto Column -->
                            <ng-container matColumnDef="valor">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                              <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                            </ng-container>

                            <!-- Buttons Actions Column -->
                            <ng-container matColumnDef="accion">
                              <th mat-header-cell *matHeaderCellDef> Acción </th>
                              <td mat-cell *matCellDef="let element">
                                <button type="button" class="btn btn-outline-edit" (click)="edit('tarifa', element)"><i
                                    class="fas fa-pen-fancy"></i></button>
                                <button type="button" class="btn btn-outline-delete"
                                  (click)="delete('tarifa', element)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="showColsTarifa; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: showColsTarifa;"></tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!------------------------- Documents ------------------------->
          <div class="tab-pane fade" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab">
            <div class="container-fluid">
              <div class="row justify-content-md-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                  <form>
                    <div class="row justify-content-center">
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <div class="col-sm-12">
                            <div class="document-dropzone" ngx-dropzone [id]="'drop-doc'" [multiple]="false"
                              (change)="onSelect($event)">
                              <ngx-dropzone-label>
                                <div>
                                  <h3>Click aquí o arrastra tu archivo *</h3>
                                </div>
                              </ngx-dropzone-label>
                              <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of filesTemp"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label [attr.tp]="f.type">{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                              </ngx-dropzone-preview>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row">
                          <label for="tipoDocumento" class="col-sm-3 col-form-label label-required">Tipo Documento
                            <span>*</span></label>
                          <div class="col-sm-6">
                            <select-general tipoDato="documentos" [(ngModel)]="regDocumento.documento_id"
                              [(_val)]="regDocumento.documento_id" (valueObjChange)="regDocumento.documento = $event"
                              name="documentos" ngDefaultControl></select-general>
                          </div>
                          <div class="col-sm-3">
                            <button type="button" class="btn btn-outline-add col-sm-12 m-0"
                              (click)="add('documento')"><i class="fas fa-plus"></i> Agregar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-12">
                        <div class="table-responsive table-modal">
                          <table mat-table [dataSource]="arrayDocumentos" matSort class="mat-elevation-z8">

                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>

                            <!-- Municipio Column -->
                            <ng-container matColumnDef="fecha">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                              <td mat-cell *matCellDef="let element"> {{element.fechaHora | date: 'dd-MM-yyyy HH:mm:ss
                                a'}} </td>
                            </ng-container>

                            <!-- Nombre Column -->
                            <ng-container matColumnDef="usuario">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                              <td mat-cell *matCellDef="let element"> {{element.usuario.nombres}} </td>
                            </ng-container>

                            <!-- Concepto Column -->
                            <ng-container matColumnDef="tipoDocumento">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Documento </th>
                              <td mat-cell *matCellDef="let element"> {{element.documento.nombre}} </td>
                            </ng-container>

                            <!-- Concepto Column -->
                            <ng-container matColumnDef="archivo">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Archivo </th>
                              <td mat-cell *matCellDef="let element"> {{element.nombreArchivo}} </td>
                            </ng-container>

                            <!-- Buttons Actions Column -->
                            <ng-container matColumnDef="accion">
                              <th mat-header-cell *matHeaderCellDef> Acción </th>
                              <td mat-cell *matCellDef="let element">
                                <button type="button" class="btn btn-outline-edit"
                                  (click)="openFile(element.id, element.nombreArchivo, element.fileType, false)"><i
                                    class="fas fa-external-link-alt"></i></button>
                                <button type="button" class="btn btn-outline-add"
                                  (click)="openFile(element.id, element.nombreArchivo, element.fileType, true)"><i
                                    class="fas fa-cloud-download-alt"></i></button>
                                <button type="button" class="btn btn-outline-delete"
                                  (click)="delete('documento', element)"><i class="fas fa-trash-alt"></i></button>
                              </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="showColsDocumento; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: showColsDocumento;"></tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-7 col-sm-8">
              <div class="form-group m-0 row">
                <label for="municipioSucursal"
                  class="col-12 col-sm-3 col-md-2 col-form-label label-required pr-sm-0">Estado <span>*</span></label>
                <div class="col-12 col-sm-8 col-md-4 col-xl-4 pl-sm-0">
                  <select class="form-control" [(ngModel)]="proveedor.estado" name="estado">
                    <option *ngFor="let dt of dataEstado" [value]="dt.val">{{ dt.option }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-5 col-sm-4 text-right">
              <button type="button" class="btn btn-outline-save" (click)="save()"><i class="fas fa-save"></i>
                Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>