<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1 class="text-center">Usuarios</h1>
      </div>
      <div class="col-9 col-sm-10 col-md-12 col-lg-12 col-xl-12 d-flex">
        <button type="button" class="btn btn-outline-add btn-add-provider text-nowrap mx-3" data-toggle="modal"
          data-target="#modalProvider" (click)="add()"><i class="fas fa-plus-square"></i><span class="d-none d-md-inline-block ml-md-2">Agregar Usuario</span></button>
          <input type="text" class="form-control" id="search" (keyup)="applyFilter($event.target.value)" aria-describedby="search" placeholder="Buscar...">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive table-resp">
          <table mat-table [dataSource]="arrayUsuarios" matSort  class="mat-elevation-z8 w-100">

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
            </ng-container>

            <!-- Usuario Column -->
            <ng-container matColumnDef="usuario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
              <td mat-cell *matCellDef="let element">{{element.usuario}}</td>
            </ng-container>

            <!-- Roles Column -->
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> teléfono </th>
              <td mat-cell *matCellDef="let element">{{element.telefono}}</td>
            </ng-container>

            <!-- Estado Column -->
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
              <td mat-cell *matCellDef="let element">{{(element.estado == 'A')?'Activo':'Inactivo'}}</td>
            </ng-container>

            <!-- Buttons Actions Column -->
            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef> Acción </th>
              <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-outline-edit" (click)="getUsuario(element.id)" data-toggle="tooltip" data-placement="left" title="Editar"><i class="fas fa-pen-fancy"></i></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColsUsuarios; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: showColsUsuarios;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalProvider" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="labelModalUsuario"><i class="fas fa-user"></i> Agregar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" data-toggle="tab" href="#nav-data-general" role="tab"
                aria-controls="nav-home" aria-selected="true">Datos del Usuario</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#nav-information" role="tab"
                aria-controls="nav-profile" aria-selected="false">Roles</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                aria-selected="false">Opciones</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <!------------------------- Datos Generales ------------------------->
            <div class="tab-pane fade show active" id="nav-data-general" role="tabpanel" aria-labelledby="nav-home-tab">

              <div class="container">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                    <form>
                      <br>
                      <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                          <div class="form-group row">
                              <label for="inputPassword" class="col-sm-4 col-form-label">Identificación <span class="text-danger">*</span></label>
                              <div class="col-sm-8">
                                <input type="text" [(ngModel)]="usuario.identificacion" class="form-control" id="identificacion" name="identificacion" placeholder="Ingresa el número identificacion...">
                              </div>
                            </div>
                          <div class="form-group row">
                            <label for="nombre" class="col-sm-4 col-form-label">Nombre(s) <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                              <input type="text" [(ngModel)]="usuario.nombres" class="form-control" id="nombre" name="nombre" placeholder="Ingresa el nombre(s)...">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="apellidos" class="col-sm-4 col-form-label">Apellido(s) <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                              <input type="text" [(ngModel)]="usuario.apellidos" class="form-control" id="apellidos" name="apellidos" placeholder="Ingresa el Apellido(s)...">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="departamentoContacto" class="col-sm-4 col-form-label">Departamento <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                              <select-general tipoDato="departamento" picklistId="departamento" [(_val)]="departamento" (change)="changeSelectGeneral($event.target.value, 'contacto')" ngDefaultControl></select-general>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="municipioContacto" class="col-sm-4 col-form-label">Municipio <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <select-general #municipioComponent picklistPadre="{{departamento}}" [(_val)]="usuario.municipio_id" tipoDato="municipio" (valueObjChange)="usuario.municipio = $event"  [(ngModel)]="usuario.municipio_id" name="municipio_id" ngDefaultControl></select-general>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Dirección <span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                              <input type="text" [(ngModel)]="usuario.direccion" class="form-control" id="direccion" name="direccion" placeholder="Ingresa una Dirección...">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Teléfono</label>
                            <div class="col-sm-8">
                              <input type="text" [(ngModel)]="usuario.telefono" class="form-control" id="telefono" name="telefono" placeholder="Ingresa un Teléfono...">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Celular 1</label>
                            <div class="col-sm-8">
                              <input type="text" [(ngModel)]="usuario.fax" class="form-control" id="fax" name="fax" placeholder="Ingresa un celular...">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Celular 2</label>
                            <div class="col-sm-8">
                              <input type="text" [(ngModel)]="usuario.celular" class="form-control" id="celular" name="celular" placeholder="Ingresa un Celular...">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Email</label>
                            <div class="col-sm-8">
                              <input type="text" [(ngModel)]="usuario.email" class="form-control" id="email" name="email" placeholder="Ingresa un email...">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <fieldset>
                      <legend>Datos Usuarios</legend>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Usuario<span class="text-danger">*</span></label>
                        <div class="col-sm-4">
                          <input type="text" [(ngModel)]="usuario.usuario" class="form-control" id="usuario" name="usuario" placeholder="Ingresa el Usuario...">
                        </div>
                        <label for="inputPassword" class="col-sm-2 col-form-label">Clave <span class="text-danger">*</span></label>
                        <div class="col-sm-4">
                          <input type="password" [(ngModel)]="usuario.clave" class="form-control" id="clave" name="clave" placeholder="Ingresa el clave...">
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
            <!------------------------- Rol ------------------------->
            <div class="tab-pane fade" id="nav-information" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="container">
                <br>
                <div class="row">
                  <div class="col-5">
                    <div class="list-group">
                      <li class="list-group-item">
                        <input type="text" class="form-control" [(ngModel)]="searchAllRol" name="searchAllRol" placeholder="Buscar rol...">
                      </li>
                      <div class="_content-list">
                        <li *ngFor="let itm of rols | filterTable: searchAllRol" class="list-group-item list-group-item-action" (click)="addToMoveItem(itm, 'right', $event, false)">{{itm.nombre}}</li>
                        <li *ngIf="rols.length === 0" class="list-group-item list-group-item-action">Sin roles...</li>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 item-ctd">
                    <div class="d-flex flex-column">
                      <button class="btn btn-outline-orange" data-toggle="tooltip" data-placement="top" title="Agregar Todo" (click)="moveAllItems('right', false)"><i class="fas fa-angle-double-right"></i></button>
                      <button class="btn btn-outline-orange my-4" data-toggle="tooltip" data-placement="top" title="Agregar" (click)="moveItem('right', false)"><i class="fas fa-angle-right"></i></button>
                      <button class="btn btn-outline-orange mb-4" data-toggle="tooltip" data-placement="top" title="Remover" (click)="moveItem('left', false)"><i class="fas fa-angle-left"></i></button>
                      <button class="btn btn-outline-orange" data-toggle="tooltip" data-placement="top" title="Remover Todo" (click)="moveAllItems('left', false)"><i class="fas fa-angle-double-left"></i></button>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="list-group">
                      <li class="list-group-item">
                        <input type="text" class="form-control" [(ngModel)]="searchCurRol" name="searchCurRol" placeholder="Buscar rol...">
                      </li>
                      <div class="_content-list">
                        <li *ngFor="let itm of dataCurrentRoles | filterTable: searchCurRol" class="list-group-item list-group-item-action" (click)="addToMoveItem(itm, 'left', $event, false)">{{itm.nombre}}</li>
                        <li *ngIf="dataCurrentRoles.length === 0" class="list-group-item list-group-item-action">Sin roles...</li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!------------------------- Opciones ------------------------->
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <div class="container">
                <br>
                <div class="row">
                  <div class="col-5">
                    <div class="list-group">
                      <li class="list-group-item">
                        <input type="text" class="form-control" [(ngModel)]="searchAllOptions" name="searchAllOptions" placeholder="Buscar opción...">
                      </li>
                      <div class="_content-list">
                        <li *ngFor="let itm of options | filterTable: searchAllOptions" class="list-group-item list-group-item-action" (click)="addToMoveItem(itm, 'right', $event, true)">{{itm.nombre}}</li>
                        <li *ngIf="options.length === 0" class="list-group-item list-group-item-action">Sin opciones...</li>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 item-ctd">
                    <div class="d-flex flex-column">
                      <button class="btn btn-outline-orange" data-toggle="tooltip" data-placement="top" title="Agregar Todo" (click)="moveAllItems('right', true)"><i class="fas fa-angle-double-right"></i></button>
                      <button class="btn btn-outline-orange my-4" data-toggle="tooltip" data-placement="top" title="Agregar" (click)="moveItem('right', true)"><i class="fas fa-angle-right"></i></button>
                      <button class="btn btn-outline-orange mb-4" data-toggle="tooltip" data-placement="top" title="Remover" (click)="moveItem('left', true)"><i class="fas fa-angle-left"></i></button>
                      <button class="btn btn-outline-orange" data-toggle="tooltip" data-placement="top" title="Remover Todo" (click)="moveAllItems('left', true)"><i class="fas fa-angle-double-left"></i></button>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="list-group">
                      <li class="list-group-item">
                        <input type="text" class="form-control" [(ngModel)]="searchCurOptions" name="searchCurOptions" placeholder="Buscar opción...">
                      </li>
                      <div class="_content-list">
                        <li *ngFor="let itm of dataCurrentOptions | filterTable: searchCurOptions" class="list-group-item list-group-item-action" (click)="addToMoveItem(itm, 'left', $event, true)">{{itm.nombre}}</li>
                        <li *ngIf="dataCurrentOptions.length === 0" class="list-group-item list-group-item-action">Sin opciones...</li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="form-group row m-0">
                  <label for="estado" class="col-sm-2 col-form-label label-required">Estado <span>*</span></label>
                  <div class="col-sm-8">
                    <select class="form-control" [(ngModel)]="usuario.estado" name="estado">
                      <option *ngFor="let dt of dataEstado" [value]="dt.val">{{ dt.option }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-outline-save" (click)="save()"><i class="fas fa-save"></i> Guardar</button>
              </div>
            </div>
          </div>
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
