@import "../models/_variables";

#nav-tabContent {
    overflow-y: auto;
    ._content-list {
        height: 350px;
        overflow-y: auto;
        li {
            cursor: pointer;
            font-size: 0.8rem;
        }
    }
}

.selected-li {
    background-color: #0d3f67;
    color: #fff;
}

.table-resp {
    button {
        padding: 0.075rem 0.35rem;
    }
    z-index: 1;
    @include respond-to($phone) {
        height: 75vh;
    }
    @include respond-to($phone-landscape) {
        height: 73vh;
    }
}
