@import "../models/_variables";

.container-fluid {
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.row {
    height: 100%;
    @include respond-to($phone) {
        height: min-content;
    }
}

.inactive-menu {
    max-width: 0;
}

.loading {
    position: absolute;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    .spinner-border {
        width: 3rem;
        height: 3rem;
        border: 0.25em solid #fff;
        border-right-color: transparent;
    }
}

._content-menu {
    height: 100vh;
    @include respond-to($phone) {
        height: min-content !important;
    }
}

._sub-menu {
    height: 100%;
    @include respond-to($phone) {
        height: min-content;
    }
}