<div class="container-fluid">
    <div class="row h-100 align-items-start">
        <div class="col-sm-auto col-md-auto col-lg-auto col-xl-auto _content-menu pr-0">
            <app-menu (clickedItem)="itemToShow = $event" (openMenu)="isSubMenuOpen = $event"></app-menu>
        </div>
        <div class="col-12 col-sm-auto col-md-auto col-lg-auto col-xl-auto p-sm-0 pl-xl-0 _sub-menu">
            <app-sub-menu [item]="itemToShow"></app-sub-menu>
        </div>
        <div class="col-12 col-sm col-md col-lg col-xl h-100 pl-sm-0 overflow-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="loading d-flex justify-content-center">
    <div class="align-self-center text-center">
        <app-welcome></app-welcome>
        <div class="mt-3 spinner-border" role="status"></div>
        <p class="text-center m-0 text-white text-load">Cargando...</p>
    </div>
</div>