/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: oswald;
    src: url(assets/fonts/roboto/Roboto-Medium.ttf) format("opentype");
}

@font-face {
    font-family: oswald-extra-light;
    src: url(assets/fonts/Oswald-ExtraLight.ttf) format("opentype");
}

@font-face {
    font-family: oswald-light;
    src: url(assets/fonts/roboto/Roboto-Light.ttf) format("opentype");
}

@font-face {
    font-family: oswald-regular;
    src: url(assets/fonts/roboto/Roboto-Regular.ttf) format("opentype");
}

@font-face {
  font-family: oswald-black;
  src: url(assets/fonts/roboto/Roboto-Black.ttf) format("opentype");
}

@font-face {
    font-family: oswald-bold;
    src: url(assets/fonts/roboto/Roboto-Bold.ttf) format("opentype");
}

@import "./app/models/_variables";

$border-c: #0d3f67;

.ft-oswd {
    font-family: 'oswald';
}

.ft-oswd-lgh {
    font-family: 'oswald-light';
}

.mat-sort-header-button {
  color: #fff !important;
}

.panel-sub-menu {
    max-width: 0 !important;
    max-height: 100% !important;
    transition: max-width .5s ease-in-out;
    @include respond-to($phone) {
        max-width: 100% !important;
        max-height: 0 !important;
        transition: max-height .5s ease-out;
    }
}

.show-sub-menu {
    max-width: 250px !important;
    @include respond-to($phone) {
        max-width: 100% !important;
        // max-height: 88px !important;
        max-height: 100% !important;
        transition: max-height .5s ease-in;
    }
    @include respond-to($phone-landscape) {
        max-width: 150px !important;
    }
}

.btn-outline-save {
    color: #669e57 !important;;
    border-color: #669e57 !important; // #36622b
    font-family: 'oswald-bold';
    font-size: 0.8rem !important;
}

.btn-outline-save:hover {
    color: #fff !important;
    background-color: #669e57;
}

.btn-outline-add {
    color: #33313b !important;
    border-color: #33313b !important;
    font-family: 'oswald-bold';
    font-size: 0.8rem !important;
}

.btn-outline-add:hover {
    color: #fff !important;
    background-color: #33313b;
    border-color: #33313b;

}

.btn-outline-dark {
    color: #0d3f67 !important;
    border-color: #0d3f67 !important;
    font-family: 'oswald-bold';
    font-size: .8rem;
}

.btn-outline-dark:hover {
    color: #fff !important;
    background-color: #0d3f67;
}

.btn-dark {
  color: #fff !important;
  background-color: #0d3f67 !important;
  font-family: 'oswald-bold';
  font-size: .8rem;
}

.btn-dark:hover {
  color: #fff !important;
  background-color: #174469;
}

.btn-outline-edit {
    color: #105e62 !important;
    border-color: #105e62 !important;
    font-family: 'oswald-bold';
    font-size: 0.8rem !important;
}

.btn-outline-edit:hover {
    color: #fff !important;
    background-color: #105e62;
}

.btn-outline-delete {
    color: #c10000 !important;
    border-color: #c10000 !important;
    font-family: 'oswald-bold'
}

.btn-outline-delete:hover {
    color: #fff !important;
    background-color: #c10000;
}

.btn-outline-secondary {
    color: #6c757d !important;
    border-color: #6c757d !important;
    font-family: 'oswald-bold';
    font-size: 0.8rem !important;
}

.btn-outline-secondary:hover {
    color: #fff !important;
    background-color: #6c757d;
}
// .table-fix-head {
//     overflow-y: auto;
//     height: 100px;
// }

// .table-fix-head thead th {
//     position: sticky;
//     top: -1px;
//     background: #fff;
//     font-family: 'oswald-bold';
// }

.table-modal button,
.table-resp button {
    padding: 0.075rem 0.35rem;
}

.table {
  th,
  td {
    // border-top: unset;
    border-bottom: 1px solid $border-c;
  }
}

textarea.form-control:focus,
select.form-control:focus,
input.form-control:focus {
    outline: none !important;
    border-color: #33313b;
    box-shadow: 0 0 4px #33313b;
}

// .mat-header-cell {
//     font-family: 'oswald-bold' !important;
//     font-size: unset !important;
//     background: #fff;
// }

// .table-fix-head tbody,
// .mat-table tbody td {
//     font-family: 'oswald-light' !important;
// }

.item-ctd {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    thead {
        tr {
          background-color: $border-c;
          border: 1px solid $border-c !important;
            th {
                font-family: 'oswald-bold' !important;
                font-size: 0.8rem !important;
                color: #fff !important;
                text-align: center;
                button {
                    font-family: 'oswald-bold' !important;
                    font-size: 0.8rem !important;
                }
            }
        }
    }
    tbody {
        tr {
          border-left: 1px solid $border-c;
            td {
                font-family: 'arial' !important;
                font-size: 0.6rem !important;
                border-right: 1px solid $border-c;
                text-align: center;
                border-top: unset !important;
            }
        }
    }
}

table {
  // &:not(.card-body) {
  &:not(.modal-body table, .card-body table) {
    margin-top: 20px;
  }
}

.mat-header-row {
  border-bottom: 1px solid $border-c;
  background: $border-c;
  height: 40px !important;
}

.mat-row .mat-cell {
  border-bottom: 1px solid $border-c;
  cursor: pointer;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 0 !important;
  border-left: 1px solid $border-c;
}

.mat-footer-row {
  background-color: #b1c1ce;
}

.mat-sort-header-arrow {
  color: #fff;
}

td.mat-footer-cell {
  border: 1px solid #0d3f67;
  font-size: 0.6rem !important;
}

th.mat-header-cell {
  border-top: 1px solid $border-c;
  border-left: 1px solid $border-c;
  border-bottom-color: $border-c;
  text-align: center !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0 !important;
  border-right: 1px solid $border-c;
}

.bg-tab,
.bg-tab div,
.mat-row:hover .mat-cell {
  background-color: #0d3f6752;
}

.mat-sort-header-container {
  justify-content: center;
}

.item-ctd-no-vt {
    display: flex;
    align-items: center;
}

.hide-loading {
    display: none !important;
}

textarea,
input::-webkit-placeholder,
input::placeholder,
.btn-add-provider,
select,
input,
legend,
label {
    font-family: 'oswald-regular' !important;
    font-size: $font-size-lable;
}

.modal-title,
.modal-body button,
.modal-body a {
    text-decoration: none;
    color: #0d3f67;
    font-family: 'oswald-bold';
    font-size: .8rem !important;
}

input[type=check],
input[type=checkbox],
select {
    cursor: pointer !important;
}

.label-required span {
    color: #c10000;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #ced4da;
}
::-webkit-scrollbar-thumb {
    background: #0d3f67;
}

.z-index-1 {
    z-index: 1;
}

.table-resp {
    height: 85vh;
    button {
        padding: 0.075rem 0.35rem;
    }
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #0d3f67 !important;
    background-color: #0d3f67 !important;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(13, 63, 103, 0.25) !important;
}

h1:not(.unformatted),
.modal-title,
.modal-body button,
.modal-body a {
    text-decoration: none;
    color: #0d3f67;
    font-family: 'oswald-bold';
}

.sub-menu-parameters {
    .modal-body {
        height: 450px;
        overflow-y: auto;
        @include respond-to($phone) {
            height: max-content;
            max-height: 450px;
        }
    }

    .menu-buttons button {
        margin-bottom: 1%;
    }

    .menu-buttons button:first-child {
        margin-right: 10px;
    }

    h1,
    .modal-title,
    .modal-body button,
    .modal-body a {
        text-decoration: none;
        color: $color-dark;
        font-family: $font-family-b;
    }

    table {
        width: 100%;
    }

    .btn-outline-edit {
        margin: 0 2%;
    }

    .table-modal button,
    .table-resp button {
        padding: 0.075rem 0.35rem;
    }

    .table-resp {
        z-index: 1;
        @include respond-to($phone) {
            height: 75vh;
        }
        @include respond-to($phone-landscape) {
            height: 73vh;
        }
    }
}

.btn-outline-success {
    color: #28a745 !important;
    border-color: #28a745;
    &:hover {
        color: #fff !important;
        background-color: #28a745;
        border-color: #28a745;
    }
}

.btn-outline-primary {
    color: #007bff !important;
    border-color: #007bff;

    &:hover {
        color: #fff!important;
        background-color: #007bff;
        border-color: #007bff;
    }
}

.table thead th {
    border-bottom: unset !important;
}

#modalDetail,
#modalReporte {
  .modal-dialog {
    .modal-body {
        .mat-header-row {
          height: 25px !important;
        }
        table {
          thead {
            tr {
              th {
                button {
                  white-space: nowrap !important;
                }
              }
            }
          }
        }
    }
  }
}

tr.mat-row,
tr.mat-footer-row {
  height: unset !important;
}
