<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="text-center mt-md-3">Contratos</h1>
        </div>
        <div class="col-9 col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-0 pl-md-none d-flex">
          <button type="button" class="btn btn-outline-add btn-add-provider text-nowrap mx-3" data-toggle="modal" data-target="#modalContrato" (click)="addContract()"><i class="fas fa-plus-square"></i><span class="d-none d-md-inline-block ml-md-2">Agregar Contrato</span></button>
            <input type="text" class="form-control" id="search" (keyup)="applyFilter($event.target.value)" aria-describedby="search" placeholder="Buscar...">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive table-resp position-relative">
                <table mat-table [dataSource]="arrayContrato" matSort class="mat-elevation-z8">

                <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Telephone Column -->
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{(element.estado=='A')?'Activo':'Inactivo'}} </td>
                    </ng-container>

                    <!-- Buttons Actions Column -->
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> Acción </th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" class="btn btn-outline-edit" (click)="open(element.id)"><i class="fas fa-pen-fancy"></i></button>
                            <!-- <button type="button" class="btn btn-outline-delete" (click)="deshabilitar(element.id)"><i class="fas fa-trash-alt"></i></button> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="showColsContrato; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: showColsContrato;"></tr>
                </table>
                <mat-paginator [pageSize]="12" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalContrato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="labelModalContrato"><i class="fas fa-file-contract"></i> Contrato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-data" role="tab" aria-controls="nav-home" aria-selected="true">Datos</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-observaciones" role="tab" aria-controls="nav-profile" aria-selected="false">Observaciones</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-municipios" role="tab" aria-controls="nav-contact" aria-selected="false">Municipios</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-conceptos" role="tab" aria-controls="nav-contact" aria-selected="false">Conceptos</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-tarifas" role="tab" aria-controls="nav-contact" aria-selected="false">Tarifas</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-facturacion" role="tab" aria-controls="nav-contact" aria-selected="false">Facturación</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!------------------------- Datos ------------------------->
                        <div class="tab-pane fade show active" id="nav-data" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                                        <form>
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group row">
                                                        <label for="inputNombre" class="col-sm-4 col-form-label">Nombre <span class="text-danger">*</span></label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa un nombre" [(ngModel)]="contrato.nombre" name="nombre">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputNombreContratante" class="col-sm-4 col-form-label">Nombre Contratante <span class="text-danger">*</span></label>
                                                        <div class="col-sm-8">
                                                            <app-write-search (obj)="contrato.contratante_id = $event.id" [_setData]="contrato.contratante_id"></app-write-search>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputDescripcion" class="col-sm-4 col-form-label">Descripción</label>
                                                        <div class="col-sm-8">
                                                            <textarea class="form-control" id="descripcion" rows="3" name="descripcion" placeholder="Ingresa una descripción" [(ngModel)]="contrato.descripcion" name="descripcion"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputValorTotal" class="col-sm-4 col-form-label">Valor total <span class="text-danger">*</span></label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="valorTotal" name="valorTotal" [(ngModel)]="contrato.valorTotal" name="valorTotal" placeholder="Ingresa un valor total">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputPorcentajeProveedor" class="col-sm-4 col-form-label">Porcentaje sobre Proveedor</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="porcentajeProveedor" name="porcentajeProveedor" placeholder="Ingresa un porcentaje proveedor" [(ngModel)]="contrato.poSobreProveedor" name="poSobreProveedor" (ngModelChange)="contrato.poSobreProveedor = util.miles(contrato.poSobreProveedor)" (keydown)="util.validateOnlyNumbers($event)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group row">
                                                        <label for="inputNumero" class="col-sm-4 col-form-label">Número</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" id="numero" name="numero" placeholder="Ingresa un número" [(ngModel)]="contrato.numero" name="numero">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputFechaFirma" class="col-sm-4 col-form-label">Fecha de Firma <span class="text-danger">*</span></label>
                                                        <div class="col-sm-8">
                                                            <input type="date" class="form-control" id="fechaFirma" name="fechaFirma" placeholder="Ingresa una fecha de firma" [(ngModel)]="contrato.fechaFirma" name="fechaFirma">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputFechaInicial" class="col-sm-4 col-form-label">Fecha Inicial <span class="text-danger">*</span></label>
                                                        <div class="col-sm-8">
                                                            <input type="date" class="form-control" id="fechaInicial" name="fechaInicial" placeholder="Ingresa una fecha inicial" [(ngModel)]="contrato.fechaInicial" name="fechaInicial">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputFechaFinal" class="col-sm-4 col-form-label">Fecha Final <span class="text-danger">*</span></label>
                                                        <div class="col-sm-8">
                                                            <input type="date" class="form-control" id="fechaFinal" name="fechaFinal" placeholder="Ingresa una fecha final" [(ngModel)]="contrato.fechaFin" name="fechaFin">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputPorcentajeProveedor" class="col-sm-4 col-form-label">Estado <span class="text-danger">*</span></label>
                                                        <div class="col-sm-8">
                                                            <select class="form-control" id="estado" name="estado" [(ngModel)]="contrato.estado" name="estado">
                                                                <option *ngFor="let data of state" value="{{ data.val }}">{{ data.opt }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------------------------- Observaciones ------------------------->
                        <div class="tab-pane fade show" id="nav-observaciones" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                                        <form>
                                            <div class="form-group row">
                                                <label for="inputObservacion" class="col-sm-1 col-form-label item-ctd">Observación</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" id="observacion" rows="3" name="observacion" placeholder="Ingresa una observación" [(ngModel)]="contratoObs.observacion" name="observacion"></textarea>
                                                </div>
                                                <div class="col-sm-3 item-ctd-no-vt">
                                                    <button type="button" class="btn btn-outline-add" (click)="addObservation()" data-toggle="tooltip" data-placement="bottom" title="Agregar observación"><i class="fas fa-plus-square"></i></button>
                                                </div>
                                            </div>
                                            <div class="table-responsive table-modal">
                                                <table mat-table [dataSource]="arrayObservaciones" matSort class="mat-elevation-z8">

                                                    <!-- No Column -->
                                                    <ng-container matColumnDef="id">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                                                    </ng-container>

                                                    <!-- Fecha Column -->
                                                    <ng-container matColumnDef="fecha">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.fechaHora | date:"yyyy-MM-dd" }} </td>
                                                    </ng-container>

                                                    <!-- Hora Column -->
                                                    <ng-container matColumnDef="hora">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.fechaHora | date: 'shortTime' }} </td>
                                                    </ng-container>

                                                    <!-- usuario Column -->
                                                    <ng-container matColumnDef="usuario">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.usuario.nombres+' '+element.usuario.apellidos}} </td>
                                                    </ng-container>

                                                    <!-- Observacion Column -->
                                                    <ng-container matColumnDef="observacion">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observación </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
                                                    </ng-container>

                                                    <!-- Buttons Actions Column -->
                                                    <ng-container matColumnDef="accion">
                                                        <th mat-header-cell *matHeaderCellDef> Acción </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <button type="button" class="btn btn-outline-edit" (click)="edit('observacion', element)"><i class="fas fa-pen-fancy"></i></button>
                                                            <button type="button" class="btn btn-outline-delete" (click)="delete('observacion', element)"><i class="fas fa-trash-alt"></i></button>
                                                        </td>
                                                    </ng-container>

                                                    <tr mat-header-row *matHeaderRowDef="showColsContratoObs; sticky: true"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: showColsContratoObs;"></tr>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------------------------- Municipio ------------------------->
                        <div class="tab-pane fade show" id="nav-municipios" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                                        <form>
                                            <div class="form-group row">
                                                <label for="inputDepartamento" class="col-sm-1 col-form-label item-ctd">Departamento</label>
                                                <div class="col-sm-8">
                                                    <select-general tipoDato="departamento" picklistId="departamento" [_val]="0" (change)="changeSelect('municipio', $event.target.value)" ngDefaultControl></select-general>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                                    <ul class="list-group list-mp">
                                                        <li *ngFor="let data of arrayMunicipios; let in = index" class="list-group-item itm-{{in}}" (click)="add('municipio', data, 'itm-'+in, 'right')">{{ data.nombre }}</li>
                                                    </ul>
                                                </div>
                                                <div class="col item-ctd">
                                                    <div class="container-btn-mp">
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="right" title="Agregar Todo" (click)="addAll('municipio','right')"><i class="fas fa-angle-double-right"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="right" title="Agregar Seleccionados" (click)="passSelected('municipio', 'right')"><i class="fas fa-angle-right"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Remover Seleccionados" (click)="passSelected('municipio', 'left')"><i class="fas fa-angle-left"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Remover Todo" (click)="removeAll('municipio', 'left')"><i class="fas fa-angle-double-left"></i></button>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                                    <ul class="list-group list-mp">
                                                        <li *ngFor="let data of arrayMunAgregados; let in = index" class="list-group-item itm-r-{{in}}" (click)="add('municipio', data, 'itm-r-'+in, 'left')">{{ data.nombre }}</li>
                                                    </ul>
                                                </div>
                                                <div class="col item-ctd">
                                                    <div class="container-btn-mp">
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Subir al Inicio" (click)="topDownAll('municipio', true)"><i class="fas fa-angle-double-up"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Subir" (click)="topDown('municipio', true)"><i class="fas fa-angle-up"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Bajar" (click)="topDown('municipio', false)"><i class="fas fa-angle-down"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Bajar al Final" (click)="topDownAll('municipio', false)"><i class="fas fa-angle-double-down"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------------------------- Concepto ------------------------->
                        <div class="tab-pane fade show" id="nav-conceptos" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                                        <form>
                                            <div class="form-group row">
                                                <label for="inputDepartamento" class="col-sm-1 col-form-label item-ctd">Concepto</label>
                                                <div class="col-sm-8">
                                                    <select-general tipoDato="tipoConcepto" picklistId="tipoConcepto" [_val]="0" (change)="changeSelect('concepto', $event.target.value)" ngDefaultControl></select-general>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                                    <ul class="list-group list-mp">
                                                        <li *ngFor="let data of arrayConceptos; let in = index" class="list-group-item cp-{{in}}" (click)="add('concepto', data, 'cp-'+in, 'right')">{{ data.nombre }}</li>
                                                    </ul>
                                                </div>
                                                <div class="col item-ctd">
                                                    <div class="container-btn-mp text-center">
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="right" title="Agregar Todo" (click)="addAll('concepto','right')"><i class="fas fa-angle-double-right"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="right" title="Agregar Seleccionados" (click)="passSelected('concepto', 'right')"><i class="fas fa-angle-right"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Remover Seleccionados" (click)="passSelected('concepto', 'left')"><i class="fas fa-angle-left"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Remover Todo" (click)="removeAll('concepto','left')"><i class="fas fa-angle-double-left"></i></button>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                                    <ul class="list-group list-mp">
                                                        <li *ngFor="let data of arrayConAgregados; let in = index" class="list-group-item cp-r-{{in}}" (click)="add('concepto', data, 'cp-r-'+in, 'left')">{{ data.nombre }}</li>
                                                    </ul>
                                                </div>
                                                <div class="col item-ctd">
                                                    <div class="container-btn-mp text-center">
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Subir al Inicio" (click)="topDownAll('concepto', true)"><i class="fas fa-angle-double-up"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Subir" (click)="topDown('concepto', true)"><i class="fas fa-angle-up"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Bajar" (click)="topDown('concepto', false)"><i class="fas fa-angle-down"></i></button>
                                                        <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="left" title="Bajar al Final" (click)="topDownAll('concepto', false)"><i class="fas fa-angle-double-down"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------------------------- Tarifas ------------------------->
                        <div class="tab-pane fade show" id="nav-tarifas" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                                        <form>
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group row">
                                                        <label for="municipioTarifa" class="col-sm-2 col-form-label">Municipio <span class="text-danger">*</span></label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" id="municipioTarifa" [(ngModel)]="tarifa.municipio" name="municipio">
                                                                <option value="">Selecciona una opción...</option>
                                                                <option *ngFor="let data of arrayMunAgregados" [ngValue]="data">{{ data.nombre }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="conceptoTarifa" class="col-sm-2 col-form-label">Concepto <span class="text-danger">*</span></label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" id="conceptoTarifa" [(ngModel)]="tarifa.concepto" name="concepto">
                                                                <option value="">Selecciona una opción...</option>
                                                                <option *ngFor="let data of arrayConAgregados" [ngValue]="data">{{ data.nombre }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="anoTarifa" class="col-sm-2 col-form-label">Año <span class="text-danger">*</span></label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" id="anoTarifa" [(ngModel)]="tarifa.ano" name="ano">
                                                                <option *ngFor="let data of arrayAnios" value="{{ data }}">{{ data }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group d-flex">
                                                        <button type="button" class="btn btn-outline-add" (click)="addTarifa()"><i class="fas fa-plus-square"></i> Agregar</button>
                                                        <div class="ml-3 d-flex" *ngIf="contrato.id != 0">
                                                          <button id="btn-excel" type="button" class="btn btn-outline-add"><i class="fas fa-file-excel"></i> Cargar Excel</button>
                                                          <input type="file" name="fileExcel" id="fileExcel" class="position-absolute invisible" (change)="loadExcel($event.target.files)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                    <div class="form-group row">
                                                        <label for="tipoTarifa" class="col-sm-3 col-form-label">Tipo Tarifa <span class="text-danger">*</span></label>
                                                        <div class="col-sm-9">
                                                            <select-general tipoDato="tipoTarifa" picklistId="tipoTarifa" [(ngModel)]="tarifa.tipotarifa_id" name="tipotarifa_id" ngDefaultControl (valueObjChange)="tarifa.tipoTarifa = $event"></select-general>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="valTarifa" class="col-sm-3 col-form-label">Valor Tarifa <span class="text-danger">*</span></label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="valTarifa" placeholder="Ingresa un valor de tarifa" [(ngModel)]="tarifa.valor" name="valor" (ngModelChange)="tarifa.valor = util.miles(tarifa.valor)" (keydown)="util.validateOnlyNumbers($event)">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="municipioCopiar" class="col-sm-3 col-form-label">Municipio a Copiar</label>
                                                        <div class="col-sm-6">
                                                            <select class="form-control" id="municipioCopiar">
                                                                <option value="0">Selecciona una opción...</option>
                                                                <option *ngFor="let data of arrayMunAgregados" value="{{ data.id }}">{{ data.nombre }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <button type="button" class="btn btn-outline-open" data-toggle="tooltip" data-placement="bottom" title="Copiar!"><i class="far fa-copy"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <!-- <th scope="col">No</th> -->
                                                    <th scope="col">Año</th>
                                                    <th scope="col">Municipio</th>
                                                    <th scope="col">Tipo Tarifa</th>
                                                    <th scope="col">Concepto</th>
                                                    <th scope="col">Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of arrayTarifas">
                                                    <!-- <th scope="row">{{ data.no }}</th> -->
                                                    <td>{{ data.ano }}</td>
                                                    <td>{{ data.municipio.nombre }}</td>
                                                    <td>{{ data.tipoTarifa.nombre }}</td>
                                                    <td>{{ data.concepto.nombre }}</td>
                                                    <td>$ {{ util.miles(data.valor) }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!------------------------- Facturacion ------------------------->
                        <div class="tab-pane fade show" id="nav-facturacion" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12 content-data">
                                        <form>
                                            <div class="form-group">
                                                <label for="nitCompania" class="col-form-label">Nit Compañia</label>
                                                <input type="text" class="form-control" id="nitCompania" name="nitCompania" [(ngModel)]="contrato.nitCompania" name="nitCompania" placeholder="Ingresa el nit de la compañia">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputNombreCompañia" class="col-form-label">Nombre Compañia</label>
                                                <input type="text" class="form-control" id="inputNombreCompañia" name="nombreCompañia" [(ngModel)]="contrato.nombreCompania" name="nombreCompania" placeholder="Ingresa el nombre de la compañia">
                                            </div>
                                            <div class="form-group">
                                                <label for="direccionCompania" class="col-form-label">Dirección Compañia</label>
                                                <input type="text" class="form-control" id="direccionCompania" name="direccionCompania" [(ngModel)]="contrato.direccionCompania" name="direccionCompania" placeholder="Ingresa la dirección">
                                            </div>
                                            <div class="form-group">
                                                <label for="ciudadCompania" class="col-form-label">Ciudad Compañia</label>
                                                <input type="text" class="form-control" id="ciudadCompania" name="ciudadCompania" [(ngModel)]="contrato.ciudadCompania" name="ciudadCompania" placeholder="Ingresa la ciudad de la compañia">
                                            </div>
                                            <div class="form-group">
                                                <label for="cuentaCompania" class="col-form-label">Cuenta Compañia</label>
                                                <input type="text" class="form-control" id="cuentaCompania" name="cuentaCompania" [(ngModel)]="contrato.cuentaCompania" name="cuentaCompania" placeholder="Ingresa una cuenta de compañia">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col text-right">
                                <button type="button" class="btn btn-outline-save" (click)="save()"><i class="fas fa-save"></i> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
