@import "../models/_variables";

.menu-buttons button {
    margin-bottom: 1%;
    width: 90%;
}

.custom-check input {
    position: relative;
    left: -10px;
    z-index: 1;
}

#nav-tabContent {
    height: 390px;
    overflow-y: auto;
}

.content-data {
    padding-top: 3%;
}

h1,
.modal-title,
.modal-body button,
.modal-body a {
    text-decoration: none;
    color: #0d3f67;
    font-family: 'oswald-bold';
}

textarea,
input::-webkit-placeholder,
input::placeholder,
.btn-add-provider,
select,
input,
legend,
label {
    font-family: 'oswald-regular';
}

input[type=check],
select {
    cursor: pointer;
}

.label-required span {
    color: #af0404;
}

.btn-outline-edit {
    margin: 0 2%;
}

.table-modal button,
.table-resp button {
    padding: 0.075rem 0.35rem;
}

table {
    width: 100%;
}

.container-btn-mp button {
    margin-top: 10%;
    width: 40px;
}

.list-mp {
    height: 290px;
    overflow-y: auto;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.4rem;
}

.list-mp li {
    cursor: pointer;
    border: unset;
}

.list-mp li:hover {
    background: #c6d9f3;
    color: #015fd6;
}

.active-mp {
    background: #c6d9f3;
    color: #015fd6;
}

.table-resp {
    button {
        padding: 0.075rem 0.35rem;
    }
    z-index: 1;
    @include respond-to($phone) {
        height: 75vh;
    }
    @include respond-to($phone-landscape) {
        height: 73vh;
    }
}